[2019-01-26 16:34] sirloon opened #1 "BioMuta parser error"
With release from 2018-10-25, parser gives this error:

[code]

[2019-03-19 21:38] sirloon opened #2 "Generated queries should skipped invalid values"
![image](https://user-images.githubusercontent.com/2883770/54643613-97713d80-4a54-11e9-8292-35c31945c5cc.png)

Values such as "Object" or "undefined"

[2019-08-05 21:52] marcodarko commented on #2
The latest change now live makes sure that undefined or Object values will not happen or be visible to the user.

[2019-08-05 21:52] #2 closed

[2019-08-27 23:44] newgene opened #3 "Update metadata for older pending APIs"
denovodb is an example:

https://pending.biothings.io/denovodb/metadata

v.s. the latest one like phewas:

https://pending.biothings.io/phewas/metadata

The metadata structure has been updated. `biothings_client` does not work with the old pending APIs now (ref: https://github.com/biothings/biothings_client.py/issues/6).

[2019-09-18 19:52] andrewsu opened #4 "Create endpoint for GNBR"
I'd like to incorporate the GNBR graph into a pending API: https://zenodo.org/record/1495808#.XYJeuChKibg  would be similar in scope and process to semmeddb, I think.

Prioritization would be heavily influenced by @kevinxin90 based on how much he thinks it would add to BioThings explorer. Might be worth some initial exploration of the data before deciding. Not all pairs of entity types are availab

[2019-11-12 21:45] newgene opened #5 "New EBI G2P gene2phenotype API"
EBI gene2phenotype (https://www.ebi.ac.uk/gene2phenotype)

EBI gene2pheontype (or G2P) is a knowledge source providing human-curated gene-to-disease associations with a focus on cancer and developmental disease areas. Each G2P entry associates an allelic requirement and a mutational consequence at a defined locus with a disease entity. A confidence level and evidence link are assigned to each entr

[2019-11-12 21:47] newgene opened #6 "New API for MGI mouse gene2phenotype"
MGI mouse gene2phenotype (http://www.informatics.jax.org/phenotypes.shtml)
MGI provides comprehensive annotations for mouse genes, including their phenotype and disease associations. By mapping mouse genes to their human orthologs, mouse phenotypes to human phenotypes, these associations provide insightful links between human genes and phenotypes. The multiple phenotype-related data files are avai

[2019-11-12 21:50] newgene opened #7 "New API for DISEASES"
DISEASES (http://diseases.jensenlab.org/)
DISEASES is a weekly updated web resource that integrates evidence on disease-gene associations from automatic text mining, manually curated literature, cancer mutation data, and genome-wide association studies. It also provides confidence scores across supporting evidence which can be used to further compare or filter the different types and sources of ev

[2019-11-12 23:05] newgene opened #8 "new API for SNPedia"
https://www.snpedia.com/

license: CC-BY-NC-SA

bulk download instruction:
https://www.snpedia.com/index.php/Bulk

[2019-11-12 23:24] #3 closed

[2019-11-15 17:44] newgene opened #9 "new API for Genotype-phenotype associations from EBI GeneAtlas"
http://geneatlas.roslin.ed.ac.uk/

[2019-11-15 17:45] newgene opened #10 "New API for cancer-associated mutations from OncoDB"
http://oncokb.org/

[2019-11-15 17:47] newgene opened #11 "New API for PhenoScanner"
Genotype-phenotype associations from [PhenoScanner](http://www.phenoscanner.medschl.cam.ac.uk/). Need to request permission.

[2019-11-15 18:01] newgene opened #12 "new API for CTD"
Heterogeneous association network from [CTD](https://toxnet.nlm.nih.gov/newtoxnet/ctd.htm)

May need to split into multiple APIs based on the entity-types.

[2019-11-15 22:19] newgene opened #13 "New API for BioStacks"
BioStacks is a new source for text-mined Heterogeneous association network from Dr. Larry Hunter's group. Need to work with his team when it's ready.

[2019-11-15 22:23] newgene opened #14 "New API for WikiData"
[Wikidata ](https://www.wikidata.org/)is another data source providing heterogeneous association network. Data is accessible from its SPARQL endpoint, needs to build a wrapper to return JSON output.

[2019-11-15 22:24] newgene opened #15 "New API for LINCS"
[LINCS](http://lincsportal.ccs.miami.edu/dcic-portal/) provides drugs-protein target association.

[2019-11-19 17:28] newgene opened #16 "new API for functional gene sets from MSigDB"
http://software.broadinstitute.org/gsea/msigdb/index.jsp

[2019-11-19 17:29] newgene opened #17 "new API for InnateDB"
https://www.innatedb.com/

Innate immunity interactions

[2020-03-13 16:01] kevinxin90 commented on #5
Done:

[Project repo](https://github.com/kevinxin90/ebi_data_parser)
[SmartAPI query interface](http://smart-api.info/ui/1f47552dabd67351d4c625adb0a10d00)
[Pending API site](https://pending.biothings.io/ebigene2phenotype)
[SmartAPI annotation file](https://raw.githubusercontent.com/NCATS-Tangerine/translator-api-registry/master/EBIgene2phenotype/smartapi.yaml)

[2020-03-13 16:01] #5 closed

[2020-03-13 16:03] kevinxin90 commented on #6
Done:

[Project repo](https://github.com/kevinxin90/mgi_gene2phenotype)
[SmartAPI query interface](http://smart-api.info/ui/77ed27f111262d0289ed4f4071faa619)
[Pending API site](https://pending.biothings.io/mgigene2phenotype)
[SmartAPI annotation file](https://raw.githubusercontent.com/NCATS-Tangerine/translator-api-registry/master/MGIgene2phenotype/smartapi.yaml)

[2020-03-13 16:03] #6 closed

[2020-03-13 16:05] kevinxin90 commented on #7
Done:

[Project repo](https://github.com/kevinxin90/DISEASES)
[SmartAPI query interface](http://smart-api.info/ui/a7f784626a426d054885a5f33f17d3f8)
[Pending API site](https://pending.biothings.io/DISEASES)
[SmartAPI annotation file](https://raw.githubusercontent.com/NCATS-Tangerine/translator-api-registry/master/DISEASES/smartapi.yaml)

[2020-03-13 16:05] #7 closed

[2020-07-22 01:37] kevinxin90 opened #18 "new API for Text Mining Provider"
1. Dumper
  - Create a dumper looking for [newest release](https://github.com/NCATSTranslator/Text-Mining-Provider-Roadmap/tree/add-sample-text-mined-kg-in-kgx-format/sample-kg/text-mined/kgx) in this folder (currently only one release)

2. Parser
  - [primary source file](https://github.com/NCATSTranslator/Text-Mining-Provider-Roadmap/blob/add-sample-text-mined-kg-in-kgx-format/sample-kg/text-min

[2020-08-06 16:52] kevinxin90 opened #19 "Columbia Open Health Data"
source: https://u.pcloud.link/publink/show?code=XZ3ibtkZlJt9yHczhp5NjlGkui6E4uvTXL7y

The link contains a zip file, we only need to parse the "paired_concept_counts_associations" file.

type: EHR records

Manual dumper

First generate a static JSON/pickle file to store xrefs for all omop IDs (primary id used in omop)
Use this endpoint: http://cohd.smart-api.info/#/OMOP/xrefFromOMOP
may also consid

[2020-08-19 23:57] kevinxin90 opened #20 "Handler for BioThings API providing graph type data"
Example Graph representation:
[code]
Above output could be represented in another way by switching the subject & object and reverse the predicate, e.g.
[code]
So if the user provides the following query
[code]

It should be translated into two queries
1) same as user query
[code]
2) reverse it
[code]
And the response from the 2nd query should also be reversed and merge with the first query.

In su

[2020-08-20 00:08] kevinxin90 commented on #20
A good test case is:
Currently https://biothings.ncats.io/biggim/query?q=subject.NCBIGene:6494%20AND%20object.NCBIGene:1956%20AND%20association.context.disease.id:%22MONDO:0006046%22 returns 1 hit.

But https://biothings.ncats.io/biggim/query?q=object.NCBIGene:6494%20AND%20subject.NCBIGene:1956%20AND%20association.context.disease.id:%22MONDO:0006046%22 doesn't.

If the feature is implemented corre

[2020-08-20 00:11] ravila4 commented on #18
Repo: https://github.com/ravila4/TextMiningProvider

[2020-08-20 00:23] kevinxin90 commented on #20
The predicate mapping file is available here: https://github.com/biothings/pending.api/blob/master/predicate_mapping.json. But feel free to suggest other places which is more appropriate to put it. The key of the dictionary is the predicate, and the value is the reverse of the predicate.

[2020-08-20 22:17] kevinxin90 opened #21 "DGIdb API"
Source file: http://dgidb.org/data/interactions.tsv

Represent each line of the tsv file as a JSON document, hash all values in the line and use it as the **_id** for the document.

Output (use the first row as an example):
[code]

Specifications:

1. Gene
  - For subject.id field, use entrez_id (NCBIGene) value by default
  - If entrez_id field is empty, use mygene.info service to query for the N

[2020-08-26 00:24] ravila4 commented on #21
Repo: https://github.com/ravila4/DGIdb

[2020-09-09 04:09] namespacestd0 commented on #20
@kevinxin90 I wanna go over this initial implementation with you before I refine the details, please check if this is the intended behavior:

For a query to `http://localhost:8000/biggim/query/graph:`
[code]
It is translated to:
[code]
and got the result:
[code]
If this is the expected behavior, I'll add the result transformation logic and other refinements.

[2020-09-09 18:17] namespacestd0 commented on #20
@newgene do you have an opinion in the input format? should we take extra time to implement dot notation support, mixing url params & url encoded POST body, etc?

[2020-09-29 16:32] kevinxin90 commented on #21
Live API: https://biothings.ncats.io/dgidb

[2020-09-29 16:32] #21 closed

[2020-09-29 16:33] kevinxin90 commented on #18
Live API: https://biothings.ncats.io/textminingkp

[2020-09-29 16:33] #18 closed

[2021-05-14 17:55] andrewsu opened #22 "New API for Integrated Dietary Supplement Knowledge Base (iDISK)"
Given the emphasis on rare diseases in Translator, and given that rare diseases often have a metabolic origin, and given that the bar for trying an off-label treatment for a pharmaceutical compound in a human patient is relatively high, it would be useful to have an API resource that links dietary supplements to other biomedical entities.  The Integrated Dietary Supplement Knowledge Base (iDISK) a

[2021-05-15 05:44] andrewsu commented on #22
The first step would be to create a data parser, following the instructions here: https://docs.biothings.io/en/latest/doc/studio.html#part-1-single-datasource.  In this case, the primary key for the document should be a concept identifier for a dietary ingredient, and the document should contain all the relationships stated in the database.

For example, here is a set of lines from `MRREL.RRF`, wh

[2021-05-26 15:31] andrewsu commented on #19
After checking with @CaseyTa, closing this ticket...

[2021-05-26 15:31] #19 closed

[2021-05-26 16:52] andrewsu commented on #12
I believe this is obsolete given the automat CTD APIs https://smart-api.info/registry?q=ctd.  @newgene do you agree?

[2021-05-26 16:59] newgene commented on #12
Sure, we can close this one.

[2021-05-26 16:59] #12 closed

[2021-06-01 18:03] andrewsu opened #23 "link APIs listed at http://pending.biothings.io/ with corresponding code repo"
If I am interested in creating an issue for a specific pending API (e.g., http://pending.biothings.io/hpo) it's not clear where I should create that issue.  It's also not clear where the parser code lives in case I want to do a pull request.  As one possible low-tech solution, we could have a simple table or list in the README that links to the relevant parser repo.

[2021-06-01 18:07] andrewsu opened #24 "add gene-phenotype associations to HPO API"
The Human Phenotype Ontology project curates annotations between genes and phenotypes.  Full files are downloadable here: https://hpo.jax.org/app/download/annotation.  Would be very useful to add these annotations to the pending HPO API.  After that, would be good to add these info to the SmartAPI record (https://smart-api.info/registry?q=a5b0ec6bfde5008984d4b6cde402d61f), and specifically the map

[2021-06-01 18:16] newgene commented on #23
"Code" link?
![image](https://user-images.githubusercontent.com/130158/120371559-d9e86300-c2ca-11eb-8c1f-be3d4bbc0d67.png)

[2021-06-01 18:36] andrewsu commented on #23
Ahh yes, that is perfect, missed that.  Thanks!

[2021-06-01 18:36] #23 closed

[2021-06-04 22:27] colleenXu opened #25 "update pending apis used by BTE"
It would be useful to update the [pending APIs that are being used by BTE](https://github.com/biothings/BioThings_Explorer_TRAPI/blob/master/src/routes/v1/config.js), since some may be several years old and there are newer versions of the data.

This may involve updating the parsers.

I notice that [DISEASES](https://diseases.jensenlab.org/About) is a resource that seems to update weekly, which pe

[2021-06-04 22:38] colleenXu opened #26 "creating new API for TISSUES dataset"
### Adding TISSUES for BTE

From the same lab that made [DISEASES](https://diseases.jensenlab.org/About) (which is [one of our pending biothings apis](http://pending.biothings.io/DISEASES))....

There's [TISSUES](https://tissues.jensenlab.org/About), a similar resource but it has manually curated, experimental, and text-mined associations between **genes and tissues** in several species (including

[2021-06-08 18:35] andrewsu opened #27 "fix slug for mrcoc API to "cooccurrence""
Currently, http://pending.biothings.io/mrcoc generates example URLs like this:

http://pending.biothings.io/mrcoc/coocurence/D001055-D003397

These give a 404 error because the correct URL should be this (notice spelling change in coocurence / cooccurence )

http://pending.biothings.io/mrcoc/cooccurence/D001055-D003397

But as long as we are fixing things, we ideally would use the correct spelling

[2021-06-15 17:57] colleenXu commented on #25
I would prioritize:
- all the SEMMED apis
  - I think this will involve refactoring, especially mapping to Biolink for node types (like biolink:Disease) and predicates
- DGIdb and DISEASES
  - These are used quite a bit in use cases and return useful results

[2021-06-22 18:22] erikyao commented on #27
Let's define:

- "coocurence" the wrong spelling `S1` (as used in example URLs),
- "cooccurence" the wrong spelling `S2` (as used in current API),  and
- "cooccurrence" the correct spelling `S3`

`S1` was introduced from the wrong "document type" of the mrcoc build, [https://studio.biothings.io/master/#/build/mrcoc_20200702_5dgmiatr](https://studio.biothings.io/master/#/build/mrcoc_20200702_5dgmia

[2021-06-25 03:55] namespacestd0 commented on #20
Implemented in https://github.com/biothings/pending.api/blob/7530fece15df78651ab25658df1fb8441adbb7b4/web/handlers/graph.py#L19

[2021-06-25 03:55] #20 closed

[2021-07-29 02:11] r76941156 commented on #22
I can find some records that are related to chemical compound. @andrewsu Below are some questions that need your help. Thanks.

1. Output format
2. Some records have many inchkeys (e.g., Vitamin B12). Do you want to create multiple copies if you use inchkey as _id?
3. The object in some records may not have inchkey (did not find in either pubchem and/or mychem). Do you still want to keep them? Exa

[2021-07-29 05:14] andrewsu commented on #22
1. What do you mean by output format?  something different than the example document in my second comment above?
2. I think one record per inchi key sounds right.
3. Given that this is a database of dietary supplements (including many extracts, natural products, etc.) it's not surprising that many will not have an inchikey (or even a defined chemical structure).  Am I remembering correctly that th

[2021-07-29 20:58] r76941156 commented on #22
Please see below example. If one record has many inchi keys, we will have many copies with different inchi key (subject level). For object level, I will put keys in the list (or string), same as pubchem cids. For 3, I can include the records that do not have inchi key in object level. In addition, I will try to use different approaches to include more records.

      {
         "_id": "HCHKCACWOHO

[2021-08-02 17:59] andrewsu opened #28 "create new API for gene-disease associations from AGR"
The Alliance for Genome Resources (AGR) maintains a list of gene-disease associations for seven organisms (including human, mouse, rat, fly, worm, zebrafish, and yeast) at https://www.alliancegenome.org/downloads.  Files can be downloaded in either JSON or TSV.  I don't think these data have been imported into any other biothings API.  They are candidates for inclusion in mygene.info and mydisease

[2021-08-02 21:16] newgene opened #29 "Dockerize pending API web deployment"
Let's create a Docker deployment file for the production deployment:
* Required Elasticsearch server is hosted externally and provided via environment variables for the web API to connect and query.
* No need of Nginx, run just one tornado process within one container.
* Plan to deploy to both dev/stage and prod environment. Likely need to have a docker-compose file to include all required configu

[2021-08-03 01:38] r76941156 commented on #22
@andrewsu  The predication summary  in In the relation file (MRREL):

a1. has_ingredient 689,297
a2. has_adverse_effect_on 3,120
a3. interacts_with 3,057
a4. has_therapeutic_lcass 5,443
a5. is_effective_for 5,154
a6. has_adverse_reaction 2,093

I believe we already addressed a2-a6 in our original parser. For a1, 98% of CUI1s (subjects) are brand names or human names. So, there is no good approach

[2021-08-03 06:15] andrewsu commented on #22
To summarize a slack discussion:

* capturing the `has_ingredient` edges is _not_ a priority right now
* the remaining ~18k edges with the other predicates (a2-a6 above) have 919 unique `CUI1`s, and those edges are indexed in the 919 documents available in https://biothings.ncats.io/idisk

So let's consider the data loading part of this issue done.  Reassigning to @colleenXu to create a SmartAPI m

[2021-08-04 16:00] zcqian commented on #29
Is there a config.py that we can use as a reference?

[2021-08-05 00:00] colleenXu commented on #22
@r76941156 Could the API be adjusted to remove the ID prefix from fields like umls, has_adverse_effect_on.meddra?

Having the prefix causes some issues with BTE batch-querying and processing results, and we already know the ID's prefix/namespace because it's the field name...

[2021-08-05 00:13] r76941156 commented on #22
@colleenXu. I am fine with that as long as @andrewsu approve this. Thanks.

[2021-08-05 00:14] andrewsu commented on #22
Yes please, thanks @r76941156!

[2021-08-05 01:30] r76941156 commented on #22
@andrewsu @colleenXu  I already finished my part. @newgene @erikyao may deploy this to PRD next week since the pending hub is doing a db migration.

[2021-08-05 02:11] andrewsu commented on #22
Thanks! Commit for reference: https://github.com/r76941156/iDisk/commit/bd31518193bb991b8d58900ba98ff0f71b97fb99

[2021-08-05 04:32] andrewsu opened #30 "update SemMedDB APIs"
splitting out SemMedDB from the broader issue of updating APIs on pending https://github.com/biothings/pending.api/issues/25

In addition to updating to the latest data files, we will remove the logic to convert to biolink model from the parser, leaving that to be done in the smartAPI mapping.

[2021-08-05 05:52] r76941156 commented on #30
@andrewsu The parsers are almost finished.  Need some suggestions for below item.

Last time we added a new item for reverse direction and this is not supported by original SEMMED predication (e.g., treated_by for treats). I assume this task can't be done without using inverse predication from biolink model. So, I am thinking to use below approach:

Current:
   "USES" (semmed): {
        "forward"

[2021-08-05 16:47] andrewsu commented on #30
Hmm, good question.  I'm not in love with the result (because `uses` is not obviously the reverse of `is_input_of`).  But having said that, I can't think of a better solution.  Going to loop in @colleenXu in case they see anything we should consider.

[2021-08-09 15:08] zcqian commented on #29
@newgene Is there a config.py that we can use as a reference?

[2021-08-09 16:54] newgene commented on #29
@zcqian I believe we use `config_web` as the config module in production: `python index.py --conf config_web`

[2021-08-09 23:09] colleenXu opened #31 "Update / fix MGIGene2Phenotype API"
Tasks:
- Fork the parser (rename to use biothings repo): https://github.com/kevinxin90/mgi_gene2phenotype
- update the parser and data for the API https://pending.biothings.io/mgigene2phenotype/
    - fix this: the mgi.has_homolog field either has the [value of "null"](https://pending.biothings.io/mgigene2phenotype) OR has the NCBIGene ID for the mouse gene (compare this [record](https://pending.b

[2021-08-10 23:22] newgene commented on #30
Per our discussion, the current plan is to create a single SemMedDB API with each JSON object as a *triple*.

Like this existing API: https://biothings.ncats.io/text_mining_targeted_association/query, where each object looks like this:

[code]

Basically this is planned right now:
* Parsing the latest SemMedDB data files into the triple objects (@r76941156)
* We will reuse or modify from the exist

[2021-08-12 17:09] sierra-moxon commented on #28
'DBobjectType' in these files can be one of several values: 'gene', 'allele', 'affected genomic model'.
'DBobjectType' = 'gene' rows/objects are probably the ones you are looking for.

('affected genomic model' DBobjecType, is a grouping class for 'genotype', 'strain', 'population' or 'genotype + sequence targeting reagents like morpholinos, crisprs and talens'.  'affected genomic model' objects r

[2021-08-12 17:28] tokebe commented on #28
Thank you, I've included filtering to only inlcude `'DBobjectType' == 'gene'` rows in the parser. I think I have it working, though please let me know if I missed anything. I just updated my PR with an example output document in case that's useful.

[2021-08-13 04:44] erikyao commented on #22
Hi guys, I met a problem in `biothings.api` when releasing the new iDisk plugin. Already reported to @newgene. Will keep you updated.

[2021-08-13 17:46] andrewsu commented on #22
sorry, must have accidentally clicked the wrong button -- reopening pending deployment of the latest changes and confirmation that it can be queried via BTE...

[2021-08-16 22:38] n19810426 commented on #30
@andrewsu @newgene @colleenXu
We have around 25 million edges after processing all SEMMED predications since many PMIDs share the same triple objects, so have to combine them into one record.

I prepared one [example file](https://github.com/n19810426/SEMMED_sources/blob/main/example.json) for your reference (Should I follow the format in the word doc or the above format?).  Please let me know if

[2021-08-17 01:02] erikyao commented on #22
Our recent upgrade to ElasticSearch v7.0 and Biothings API v0.10 has caused some minor technical issues to us. E.g.

- [biothings.api - Issue#178](https://github.com/biothings/biothings.api/issues/178) (FIXED)
- [biothings.api - Issue#179](https://github.com/biothings/biothings.api/issues/179)

@namespacestd0 and I will keep you updated on the progress of the fixture.

[2021-08-17 01:06] erikyao commented on #28
Hi @tokebe, sorry we cannot deploy the new API due to some minor technical issue in the new biothings API v0.10 (see this [comment](https://github.com/biothings/pending.api/issues/22#issuecomment-899915757)). Will keep you updated. Thank you!

[2021-08-17 07:21] andrewsu commented on #30
A couple quick thoughts on your questions above.

1. I see that specific CUIs can be associated with many semantic types, but each record in the predications table only has a single type for each CUI, right?  If so, just use the stated type.  (If that's wrong, please show an example record.)

2. I think you should treat the negations as completely separate predicates, i.e., "NEG_STIMULATES" is com

[2021-08-17 11:16] r76941156 commented on #30
The current structure is one (subject cui) to many (object cuis). Thus, the semantic type of subject maybe different while dealing with different object CUIs ([example](https://github.com/r76941156/SEMMED_APIs/blob/main/Screen%20Shot%202021-08-17%20at%203.55.41%20PM.png)).

No problem.  BTE should also take care this while doing the mapping process.

I refered the [doc](https://docs.google.com/doc

[2021-08-17 17:02] colleenXu commented on #30
My understanding was that we were moving to an association-based format, not a entity-based format (which is where there's 1 subject to many objects). Is that not correct?

[2021-08-17 20:15] colleenXu commented on #30
I'm also not sure what "since many PMIDs share the same triple objects, so have to combine them into one record" means...

It seems that with association-based modeling, each triple is an object and it's alright if multiple objects have the same PMID under their association field...

[2021-08-17 21:43] andrewsu commented on #30
@colleenXu yes, thank you, you've pointed out some key points.  I think the fundamental issue is that each document should be a single row in the predications document, not an entity-centric collection of multiple rows.  So @r76941156 your [example file](https://github.com/n19810426/SEMMED_sources/blob/main/example.json) needs to be pretty fundamentally reorganized.  See the example (from a differ

[2021-08-19 07:15] r76941156 commented on #30
@andrewsu @colleenXu

Please see the new [example file](https://github.com/r76941156/assorted_data/blob/main/example.json) and let me know if you want to change anything. All information are from SEMMED DB. The current '_id' field is unique (predication_id) so it should fine for our  use. For some CUI id columns that have '|' between ids, I did not find any relevant information in SEMMED's documen

[2021-08-19 15:50] andrewsu commented on #30
Super, thanks... So just to confirm, when `|` appears in the `SUBJECT_CUI` or `OBJECT_CUI` field, you remove whatever comes after the `|`?  If yes, that looks like appropriate behavior to me.

I propose the following tweaks to the structure:

* moving `association.edge_label` to `predicate` (to match the wording used in the semmed download table, and to have the predicate and pmid on the same leve

[2021-08-20 00:50] erikyao commented on #22
Updated! Please check https://pending.biothings.io/idisk

[2021-08-20 00:50] #22 closed

[2021-08-20 00:52] erikyao commented on #28
It's published! Check https://pending.biothings.io/agr

Please let me know if you found anything wrong. Thank you!

[2021-08-20 00:52] #28 closed

[2021-08-20 03:40] andrewsu commented on #28
looks good to me! @colleenXu can you create a new issue to create a smartAPI record for this new API?  prioritize as you see fit..

[2021-08-20 03:48] colleenXu commented on #28
Added an issue about this here: https://github.com/biothings/BioThings_Explorer_TRAPI/issues/260

[2021-08-20 03:49] andrewsu commented on #22
looks good to me!  @colleenXu, please confirm the modified structure works with your smartAPI annotations...

[2021-08-20 04:42] colleenXu commented on #30
@andrewsu @r76941156

(FYI: I'm going to use my understanding of the columns of the predication table, but perhaps there's already been discussions of what columns to keep and what to exclude...My comments below are not intended to be a final word or override previous decisions...)

What about:
1. If we use the structure of previous "association-based modeling", I suggest putting the info about th

[2021-08-20 12:16] r76941156 commented on #30
@colleenXu
You can find two predications that only differ by the PMID.

@andrewsu
I parsed every id in these CUI fields since we are not sure whether they are the same or highly relevant after conversions. If not the same, there will be new records for them.

[2021-08-21 05:28] andrewsu commented on #30
After a quick check in with @newgene, let's go with the following:

* each row in the predication file corresponds to one object -- no combining when only PMIDs differ
* predicate and pmid at top level
* no sentence info for now
* keep the original case and spacing for predicate and semantic type
* keep semantic type abbreviation and name separately (mapping file can be found at https://metamap.nl

[2021-08-23 04:14] colleenXu commented on #30
**I'd like clarification on why** we wouldn't merge predications that differ only by PMID (and their unique ID). I believe this is the approach taken by the previous SEMMED APIs, and I think it makes sense from a BTE perspective (having 1 edge with multiple supporting publications). (but side note: BTE's response-transform could potentially merge records that only differ by PMID too...)

Is it to

[2021-08-23 05:22] andrewsu commented on #30
The primary motivation is to keep the format/structure as close to the raw data as possible. When we consume it in BTE (or at very least before we send the data back out), we'll be transforming it to "1 edge with multiple supporting publications"...

[2021-08-23 09:44] r76941156 commented on #30
@andrewsu @newgene

1. The above example (i.e., PREDICATION_ID:10682982) will produce records with duplicated IDs. I assume this will have issues while indexing the records. Will we use other index approach or ?

2. For some ncbigene cases(e.g., PREDICATION_ID:11064740): It has subject_cui (5515/8634) and object_cui (4954/5290). We will expand one predication record into 4 records (2*2). Is that c

[2021-08-23 15:33] andrewsu commented on #30
Ahh right, great point. the pipe-separated gene IDs was the one thing I didn't discuss with @newgene.  I suggest the following then:
* add a numeric suffix when necessary, and drop the curie prefix.  So, `"_id": "PREDICATION_ID:10682982"` would become `"_id": "10682982_1"`, `"_id": "10682982_2"`, etc.
* add a new top-level key for `predication_id`, which in all cases above would have `"predication

[2021-08-23 21:11] newgene commented on #30
This sounds good to me. In this Semmed case, `_id` value is only for internal purpose, not used for the direct queries. So we just need to make them unique for each object. Adding `_x` is one way, you can also use `<predication_id>_<pmid>` pattern, if `pmid` is the field differentiating objects with the same `predication_id`.

[2021-08-24 03:43] r76941156 commented on #30
@andrewsu @newgene

Revised with Andrew's suggestions (less space requried).
2 Examples ( [1](https://github.com/r76941156/assorted_data/blob/main/example1.json) and [2](https://github.com/r76941156/assorted_data/blob/main/example.json)) for review. The difference is the name of id field.

Each one has 3 cases (normal, without 'semantic_type_name', multiple records for one predication id). Please

[2021-08-24 04:47] andrewsu commented on #30
Every row in the csv file should be one document.  There should be no nesting of multiple rows in a single document (so no introduction of the the `semmed` key that is present in both of your new examples).  Please start with the example I gave in [this comment](https://github.com/biothings/pending.api/issues/30#issuecomment-903061891), and then make only the minor modification mentioned in the [f

[2021-08-27 01:40] bill-baumgartner opened #34 "Old TextMiningKP API can be removed"
The [textminingkp API](https://biothings.ncats.io/textminingkp) can be deleted as it contains only a sample dataset from over a year ago.

[2021-08-27 01:44] bill-baumgartner opened #35 "Old cord_* APIs can be removed"
The 10 cord_* APIs can be removed as they contain outdated data at this point. User should make use of the `text_mining_co_occurrence_kp` API instead.

cord_protein
cord_anatomy
cord_bp
cord_cc
cord_cell
cord_chemical
cord_disease
cord_gene
cord_genomic_entity
cord_ma

[2021-08-28 01:23] r76941156 commented on #30
@andrewsu @newgene @colleenXu @erikyao

I have done some tests with limited records on my local machine and su08 and the result looks good to me. Now, the [GitHub repo](https://github.com/r76941156/semmed_parser.git) for SEMMED DB is ready to be deployed on pending hub. After deployment, I will do more tests based on the whole dataset and BTE can also test related new features. If anything I can h

[2021-08-31 00:52] newgene commented on #30
@erikyao Let's use `SemMedDB` as the API name and `association` as the doc_type.

[2021-08-31 00:59] newgene commented on #30
Existing SemMedDB APIs are callled `semmed*`, which eventually will be replaced by this new one.

[2021-09-01 07:21] erikyao commented on #30
Published to https://pending.biothings.io/semmeddb

Please let me know if I can be of any further help.

[2021-09-01 21:12] newgene commented on #30
same as https://biothings.ncats.io/semmeddb

A few example queries:

[code]
where `q` can have more query items like `["C0087111", "C0023570"]` or `["TREATS", "Neoplastic Process"]`, matching the number and order of the fields in `scopes`.

[2021-09-01 21:18] newgene commented on #30
Next step is to create the API metadata and test the new features from https://github.com/biothings/call-apis.js/pull/30, @colleenXu? I can review and merge it to `main` if it does not bring in breaking changes.

[2021-09-13 22:52] newgene opened #36 "Update Multiomics Wellness KP data plugin"

[2021-09-14 06:54] erikyao commented on #36
Hi, @newgene and @colleenXu, it's updated. Please check https://pending.biothings.io/multiomics_wellness_kp. Let me know if I can be of any further assistance.

[2021-09-14 18:04] colleenXu commented on #36
so next step is figuring out if the x-bte annotation needs updating based on what's in the new API...

[2021-09-17 05:27] colleenXu commented on #36
@erikyao @newgene I believe a new version of data (I dunno if it includes the parser too) was sent out yesterday ~11 am PT. Has the API been updated to fit that?

[2021-09-17 18:46] erikyao commented on #36
@colleenXu just updated!

[2021-09-17 19:04] colleenXu commented on #36
@erikyao I'm a bit confused, I expected there to be subject.NCIT and object.NCIT fields (and indexing/search so I could query _exists_ on those fields).

[2021-09-17 19:16] colleenXu commented on #36
@erikyao also I think the subject.CHEBI fields and object.CHEBI fields no longer have data...

[2021-09-18 04:19] zcqian commented on #29
Implemented in #33
Awaiting deployment results

[2021-09-21 01:30] erikyao commented on #36
@colleenXu it's updated again. I didn't notice that the introduced changes in ES mapping from the last update so the new fields like `subject.NCIT` and `object.NCIT` were not exposed.

After this update, queries below should work:

- https://pending.biothings.io/multiomics_wellness_kp/query?q=_exists_:subject.NCIT
- https://pending.biothings.io/multiomics_wellness_kp/query?q=_exists_:object.NCIT

[2021-09-21 03:29] andrewsu commented on #31
This issue is a lower priority (and this data resource is possibly obsolete) given the integration of AGR gene-disease phenotypes in https://github.com/biothings/BioThings_Explorer_TRAPI/issues/260 and https://github.com/biothings/pending.api/issues/28.

[2021-09-24 22:34] #36 closed

[2021-09-24 22:38] erikyao opened #37 "Update `text_mining_cooccurrence_kp` source"
From Edgar Gatica:

Unfortunately there isn’t currently any data in the prod DB for cooccurrence, so the files that dumper would copy and parser would read don’t yet exist. Hopefully that will be coming soon.
Relatedly, Bill asked me if I could get it to update more frequently, as he expects the databases to update daily once everything is running correctly. I modified the “dumper.schedule” attrib

[2021-09-24 22:39] newgene opened #38 "update text-mining targeted association API"
Data Plugin: https://github.com/UCDenver-ccp/text_mining_targeted_association
API: https://biothings.ncats.io/text_mining_targeted_association

[2021-09-25 00:20] erikyao commented on #27
Fixed in [commit 861d034](https://github.com/biothings/pending.api/commit/861d03426f346c1ab703d3466ff3de15f360670c) and API re-published

[2021-09-25 00:20] #27 closed

[2021-09-25 01:21] erikyao commented on #38
Updated!

[2021-09-26 02:08] edgargaticaCU commented on #37
The data files referenced by this parser are now available, so it can be deployed.

[2021-10-01 21:41] erikyao commented on #37
Deployed!

[2021-10-01 21:41] #37 closed

[2021-10-04 23:26] erikyao commented on #38
## About Evidence List Threshold

In theory we can set a threshold of `4,900` entries for `association.evidence`  and `association.edge_attrbutes`. This threshold is for avoiding the `BSONObjectTooLarge` errors like below.

[code]

I calculated the BSON object sizes, lengths of `association.evidence`, lengths of `association.edge_attrbutes` into a dataframe and computed the 99.999% quantiles, as b

[2021-10-04 23:31] erikyao commented on #38
## Fix to the ES Mapping Error

Previously, both strings and float values both existed in `association.edge_attributes[<list_index>].value` and `association.edge_attributes[<list_index>].attributes[<list_index>].value`, but for ElasticSearch we must specify only one data type for each field.

[Commit 1546b41](https://github.com/UCDenver-ccp/text_mining_targeted_association/commit/1546b4126f699055e

[2021-10-04 23:31] erikyao commented on #38
Updated. See https://biothings.ncats.io/text_mining_targeted_association

[2021-10-04 23:32] #38 closed

[2021-10-13 00:43] newgene commented on #26
Data plugin repo: https://github.com/kevinxin90/DISEASES

[2021-10-29 21:04] newgene opened #39 "missing "code" metadata for semmeddb API"
https://biothings.ncats.io/semmeddb/metadata

does not include a "code" section, which cause this API page misses the "code" link.

v.s. other pending APIs, like this one:

https://biothings.ncats.io/semmed_anatomy/metadata at https://biothings.ncats.io/semmed_anatomy

Both are manifest based data plugins:

https://github.com/r76941156/semmed_parser
v.s.
https://github.com/kevinxin90/semmedana

[2021-12-16 00:53] colleenXu commented on #25
going to close this issue and open separate issues for pending apis...

[2021-12-16 00:53] #25 closed

[2021-12-16 01:04] colleenXu opened #40 "update pending dgidb API"
BTE is using https://pending.biothings.io/dgidb quite a bit, and I believe it hasn't been updated since it was made (in 2018/2019?).

We are interested in updating BOTH the parser + data for this API. This API is using the biolink-model predicates in the association.edge-label field....so we may want to remove this or map the dgidb relations to the most recent version of the biolink-model.

[2021-12-16 01:16] andrewsu commented on #40
Before refreshing our pending API, @colleenXu, can you look at whether we can annotate their API for use within BTE directly? https://www.dgidb.org/api

[2021-12-16 01:20] colleenXu commented on #26
What is the status of this issue?

I suggest using an association-based data structure for both APIs, if possible. This would allow us to access the association properties whether we query with a subject (disease) or an object (gene).

It would also help to further parse the evidence information.

The example below is a record from [here](https://pending.biothings.io/diseases/query?q=DISEASES.doid

[2021-12-16 16:43] NikkiBytes commented on #26
@colleenXu after some discussion, I am going to create a separate ticket for refactoring DISEASES.

TISSUES parser is up to par with the current DISEASES structure and the data plugin is being pushed to pending.api.

Code from DISEASES was reused to set TISSUES up, but I did add some upgrades that I can add to DISEASES when we move forward with a refactored structure.

Example record:

[code]

[2021-12-16 18:12] colleenXu commented on #26
@NikkiBytes @newgene @andrewsu I'm willing to work with whatever is ready.

However:
* The example triple uses a very general subject ID (the root term of the ontology??)...so I'm wondering if we could remove data with that ID from the API...
* I think there are benefits to the association-based modeling that involves refactoring of both APIs (as mentioned above)

[2021-12-16 18:36] NikkiBytes commented on #26
You're referring to the `BT0:` id correct? So, I pulled these as the three unique ids headers found in the `tissue_id` fields: `{'BTO', 'CLDB', 'CLBD'} ` . The DISEASES parser filtered the ids and extracted the `DOID` ids. We can definitely do something similar here.

[2021-12-16 18:37] colleenXu commented on #26
@NikkiBytes this is specifically for BTO:0000000...it seems like a very general term that isn't useful

[2021-12-16 19:27] andrewsu opened #41 "customize metadata tags for each API"
Minor issue, but right now, the meta tags for each pending API page are the same as the home page.  For example, title is "Translator KP APIs" for all APIs on biothings.ncats.io.  For https://biothings.ncats.io/dgidb, perhaps change the title to "DGIdb API | Translator" or something similar?  Description can be "API for DGIdb hosted by the BioThings Project, made for National Center for Advancing

[2021-12-16 20:28] colleenXu commented on #41
@andrewsu does this go under the BTE project management (to track this ticket)?

[2021-12-16 22:44] andrewsu commented on #41
Not necessary I think...

[2021-12-17 23:50] NikkiBytes commented on #26
After some discussion we have mapped out 3 possibilities for the structure @colleenXu , based on the desired structure you mentioned.

We consider if we want a separate object for the associations, considering the event that the same association will appear in 2 files.
#
We can ....
1.  Keep each record/association separate ( a record for each row, for each file).
2. Combine records based on assoc

[2021-12-20 20:13] colleenXu opened #42 "update ontology apis?"
However, we may be able to annotate ontology lookup service [(website)](https://www.ebi.ac.uk/ols/index) [(smartapi entry)](https://github.com/NCATS-Tangerine/translator-api-registry/blob/master/ols/smartapi.yaml) to retrieve this kind of information?

The following [pending](https://pending.biothings.io/) BioThings APIs are used by BTE (but aren't called upon often):
* Gene Ontology Biological Pr

[2021-12-20 20:16] colleenXu opened #43 "update EBI gene2phenotype api?"
BTE uses the pending BioThings API EBI [gene2phenotype](https://pending.biothings.io/ebigene2phenotype) (infrequently).

This issue is to track whether we decide to update this api or use an external api that has this data (EBI likely has an API to retrieve this data...)

[2021-12-23 00:08] colleenXu commented on #26
@NikkiBytes sorry for the late response.

It sound like having 3 separate fields (diseases.text-mined, diseases.knowledge, diseases.experiments) - one per file - would work? Also, I notice that the columns are also different between the three files.

This is similar to my comment in the opening post:

[2021-12-28 22:56] colleenXu commented on #40
We could theoretically annotate the interactions endpoint with x-bte annotation, but there are some issues...

* the `genes` field can accept Entrez IDs (not just gene symbols / names). However, the response will be under the `matchedTerms` field or `ambiguousTerms` field, depending on [how their API was able to match the search term](https://dgidb.org/api/v2/interactions.json?genes=23654,2321) (a

[2022-01-05 02:05] zcqian commented on #29
#33 Merged

[2022-01-05 02:05] #29 closed

[2022-01-10 20:21] colleenXu commented on #40
noting current parser issues:

    some chem may have incorrectly imported IDs (have a wikidata ID and a non-matching CHEMBL ID in the object.id field...)
    the relationships in DGIdb are drug -> gene, but the API is set up with subject as gene and object as chem

[2022-01-10 20:56] colleenXu commented on #26
clarifying after talking with @andrewsu : separate records for each (same subject/object pair, but from different files)

[2022-01-13 17:03] NikkiBytes commented on #26
I've added in the other species files that are available.
Below are a couple of example records. Will push the data plugin to pending.api repo.

<details>
<summary>Example Records</summary>

[code]

</details>

[2022-01-13 20:09] colleenXu commented on #26
@NikkiBytes @andrewsu perhaps the human files and other species files could be kept separate? Since Translator currently doesn't handle non-human stuff well...

and maybe the _id field can be a hash rather than the subject - since I imagine multiple records have the same subject...

---

And I don't know if this is possible...but could the records be kept separate by file (and species)? Something

[2022-01-13 20:18] colleenXu commented on #26
just noting that these are just questions + suggestions, not required...

[2022-01-14 20:32] andrewsu commented on #26
Based on my conversation with @NikkiBytes just now:

1. Let's process the human file only for now (later if we want to add the other organisms, we can add a node property as `object.organism`)
2. Need to fix the `_id` so that it is unique
3. Leave the "channel" type (e.g., "experiment", "knowledge", "text mining") under `association.category`

[2022-01-21 20:08] erikyao opened #45 "Remove `fire` API from configuration"
It's obsolete and can be removed

[2022-01-22 00:27] erikyao commented on #35
Removed

[2022-01-22 00:27] #35 closed

[2022-01-22 00:27] erikyao commented on #34
Removed

[2022-01-22 00:27] #34 closed

[2022-01-22 00:28] erikyao commented on #45
Removed

[2022-01-22 00:28] #45 closed

[2022-01-25 16:49] andrewsu opened #46 "add "code" link to semmeddb api"
I was expecting a link to the parser code in the header, similar to how we have it for other APIs

![image](https://user-images.githubusercontent.com/2635409/151021426-0ce82a82-01d7-480b-94ae-5ffedfb9de3f.png)

[2022-01-25 16:51] andrewsu opened #47 "use semmeddb version number in /metadata"
Current output from https://biothings.ncats.io/semmeddb/metadata looks like this:

[code]

under `build_version`, it appears like it is a date provided.  Instead, we should use the official version number.  For example, from https://lhncbc.nlm.nih.gov/ii/tools/SemRep_SemMedDB_SKR/SemMedDB_download.html the latest version currently is `semmedVER43_R`.

[2022-01-27 20:54] andrewsu commented on #46
closing as duplicate of #39

[2022-01-27 20:54] #46 closed

[2022-01-28 22:49] andrewsu opened #48 "New data source for ICD and CPT codes from CMS"
It would be useful to get relationships between medical procedures (expressed as CPT codes) and diseases (expressed as ICD-10 codes) from a more authoritative source than semmeddb, I found that we can find many of these links from the [Centers for Medicare &Medicaid Services](https://www.cms.gov/).  For example, the CMS article on Cataract Extraction (https://www.cms.gov/medicare-coverage-database

[2022-02-07 21:52] erikyao opened #50 "Index page is not rendered correctly due to Vuex upgrade"
The API list is not shown in the index page, with errors in console:

![image](https://user-images.githubusercontent.com/4813680/152877451-befc8d92-333f-4c4f-b74c-f944824f90fb.png)

The root cause is that the statement `<script src="https://unpkg.com/vuex"></script>` in the index page will refer to the latest `Vuex`, which has recently been upgrade to v4, while our code are based on v3.

It's fixa

[2022-02-07 21:58] erikyao commented on #50
Solved in commit 11df142aa461ed2b4d97cc147ab830da6414fea7

[2022-02-07 21:58] #50 closed

[2022-02-07 22:14] erikyao opened #52 "Animation errors in the index page when switched to Vuex 3.6.2"
![image](https://user-images.githubusercontent.com/4813680/152880641-12f29ac0-5944-4e74-892b-f59e973ddf03.png)

Related issue: https://github.com/biothings/pending.api/issues/50

We have switched to Vuex 3.6.2 so some animation code may not work anymore. A downgrade to an older v3 version could be a quick fix.

[2022-02-08 01:32] marcodarko commented on #52
@erikyao I can't replicate this on my local but I think I know why.  The transitions for each section hide the animation container until it's into view.  So initially you might see this but this doesn't cause any issues for the animation, it still runs fine when you scroll to that section it just rerurns.
I have removed such scrolling animation on that container so it's visible at load time.  this

[2022-02-08 19:49] erikyao commented on #52
Hi @marcodarko, your fix works in my test env. I am going to make a PR

[2022-02-08 19:51] #52 closed

[2022-02-09 20:25] erikyao opened #54 "Switch the rendering for hostname "biothings.ci.transltr.io""
Currently we have 2 renderings of sites, "pending" and "ncats". They differs in aesthetics, yet sharing the same backend.

Previously, the hostname-to-rendering mapping is:

|hostname                |site rendering|
|------------------------|:------------:|
|biothings.ncats.io      |    "ncats"   |
|pending.biothings.io    |   "pending"  |

Now we have a new hostname `biothings.ci.transltr.io`, wh

[2022-02-09 20:35] erikyao commented on #54
A fix is introduced in commit c93dc857433a1cfb75d026e76c86c788354a31e8
Not tested yet. (waiting for new K8S deployment)

[2022-02-10 18:13] andrewsu opened #55 "Create API for SuppKG (Dietary Supplements)"
SuppKG contains a variety of edges for Dietary Supplements.

Publication: https://arxiv.org/abs/2106.12741
Download link: https://github.com/zhang-informatics/SemRep_DS/tree/main/SuppKG

There are 595222 entries under the `links`.  Here is one example record:

[code]

I believe we want to create a record like this (where the info for `name` can be found in the `nodes` section of the json).

[code]

[2022-02-14 21:02] colleenXu commented on #43
Note that this was updated in 2021 to a new format https://www.ebi.ac.uk/gene2phenotype/updates_to_our_terms

also, perhaps the associations/data should focus on gene-disease, rather than gene-phenotype...

[2022-02-15 02:39] colleenXu opened #56 "CHEMBL IDs for drug response kp api"
currently the parser is handling these IDs incorrectly. These IDs are only for the objects.

Current data:
* we want to keep records with IDs in this format: `CHEMBL:CHEMBL261849`
* we don't want to keep records with IDs in this format: `CHEMBL:3137320`. These seem to be duplications of other rows (that have the first ID format above)

so we want to take records with IDs like `CHEMBL:CHEMBL261849`

[2022-02-15 21:07] andrewsu opened #57 "evaluate Therapeutic Target Database (TTD) as data source"
Evaluate Therapeutic Target Database (TTD) as a potential new API -- does this have new information that is not in an existing API, or is it an aggregator of resources we already have access to within mychem or BTE?

paper: https://pubmed.ncbi.nlm.nih.gov/34718717/
example record: http://idrblab.net/ttd/data/drug/details/d0s9mc
Downloads: http://db.idrblab.net/ttd/full-data-download

[2022-02-15 22:04] erikyao opened #58 "Switch ITRB ES host to `10.11.2.70:9200` in the Hub"
ITRB just changed the IP address of their ES server from `3.219.143.149` to `10.11.2.70`.

[2022-03-01 16:56] andrewsu commented on #48
tentatively assigned to Andrew Shen starting 2022-03-28

[2022-03-04 22:40] andrewsu opened #60 "Data source: BioPlanet"
https://tripod.nih.gov/bioplanet/#

seems to be a valuable resource for gene sets and pathway-disease mappings.  This was suggested by an SME from the Translator project as a reputable source of pathway information.

![image](https://user-images.githubusercontent.com/2635409/156851548-f5e95c68-7537-4fce-be15-6524951a8c56.png)

[2022-03-09 23:24] erikyao commented on #56
## Problems in Current Data File

File in use: [Table_DrugResponse_KP_v2021.11.21_rm_redundance_v2022.2.25.csv.gz](https://storage.googleapis.com/multiomics_provider_kp_data/drug_response/Table_DrugResponse_KP_v2021.11.21_rm_redundance_v2022.2.25.csv.gz)

First, it's better to discuss subject IDs (1st column, _Subject_Ensembl_gene_ID_) and object IDs (8th column, _Object_id_) separately since they

[2022-03-10 00:33] colleenXu commented on #56
for 1.2: note that ENSG00000265590 does have an [NCBIGene / Entrez ID (110091775)](https://www.ncbi.nlm.nih.gov/gene/110091775) and a [mapped HGNC ID](https://www.genenames.org/data/gene-symbol-report/#!/hgnc_id/HGNC:54636). However....it's not exactly a gene....(it corresponds to a "readthrough" region of the genome with multiple genes, that are all transcribed to 1 big transcript. Then separate

[2022-03-10 03:11] erikyao commented on #56
Chunlei's suggestion:

Colleen's suggestion:

[2022-03-15 22:16] erikyao opened #61 "Change bucket setting of snapshot repositories in NCATS server"
Currently the NCATS (`ubuntu@biothings.ncats.io`) ES is still using S3 bucket `biothings-es6-snapshots` for snapshots, as shown below:

[code]

However our hub has been switched to `biothings-es7-snapshots` and cannot automatically change the bucket setting in the NCATS ES.

Better to have a bash script to manually do it.

[2022-03-15 23:51] erikyao commented on #61
The following repo can be deleted:

[code]

[2022-03-16 01:24] erikyao commented on #61
Repository settings updated with the following python script:

[code]

Some repositories are not found in the NCATS ES (possibly not initialized), and they were just ignored in this task:

[code]

[2022-03-17 18:36] #58 closed

[2022-03-21 19:30] colleenXu commented on #30
Note that we're encountering issues with outdated UMLS identifiers in the semmed data...https://github.com/TranslatorSRI/NodeNormalization/issues/119#issuecomment-1072905830. Maybe the other IDs in the pipe-delimited data (entrez gene id) are more stable....

[2022-03-22 17:49] andrewsu opened #62 "new API for GTRx"
Our partners at RCIGM have created GTRx (http://gtrx.rbsapp.net/), which is "a virtual, automated system for acute management guidance for seriously ill newborns, infants and children with newly diagnosed genetic diseases".  GTRx links rare diseases (and genes underlying those rare diseases) to therapies (mostly drugs, but also dietary adjustments, surgery, etc.).

GTRx is currently available only

[2022-03-22 19:19] #61 closed

[2022-03-23 06:57] colleenXu commented on #56
@erikyao we may be able to close this issue now?

[2022-04-01 16:47] colleenXu commented on #30
Noting that SEMMEDDB [recently released](https://lhncbc.nlm.nih.gov/ii/tools/SemRep_SemMedDB_SKR/SemMedDB_download.html) new data files (publications up to feb 2022). In addition with the "outdated identifiers in associations" [issue](https://github.com/biothings/pending.api/issues/30#issuecomment-1074332323), we may want to look at updating this pending API...

[2022-04-01 19:55] colleenXu opened #63 "update new semmeddb api"
Follow up to #30 . Noting that SEMMEDDB [recently released](https://lhncbc.nlm.nih.gov/ii/tools/SemRep_SemMedDB_SKR/SemMedDB_download.html) new data files (publications up to feb 2022). In addition with the "outdated identifiers in associations" [issue](https://github.com/biothings/pending.api/issues/30#issuecomment-1074332323) (also pasted below), we may want to look at updating this pending API.

[2022-04-05 20:32] andrewsu commented on #62
Additional analysis of Record_ID 1390-OMIM:601005 (https://gtrx.radygenomiclab.com/?q=95&i=true)
* The website currently shows 10 interventions
* In the database dump, these 10 interventions are found in two areas:
    * 9 interventions for which the value of `use_group_*` is "retain"
    * 1 additional intervention added from `add_int_*`
* in _most_ cases, there is a 1:1 mapping between `level2_g

[2022-04-05 21:34] andrewsu opened #64 "update data in PFOCR API"
In [this comment](https://github.com/wikipathways/pathway-figure-ocr/issues/16#issuecomment-1089329986), @ariutta describes an update to the data output from PFOCR.  We should accordingly update the PFOCR API available at https://biothings.ncats.io/pfocr.  Since this would greatly enhance (and possibly accelerate) the effort described in https://github.com/biothings/BioThings_Explorer_TRAPI/issues

[2022-04-06 16:52] #56 closed

[2022-04-07 04:54] erikyao commented on #64
Plugin forked to https://github.com/biothings/pfocr

API updated: https://biothings.ncats.io/pfocr

@andrewsu shall we change the version number from `2.0` to `3.0`, or some number else?

[2022-04-07 05:07] andrewsu commented on #64
Unless @ariutta says there is some official version number that they use, let's just go with the date as the version number -- 2022-04-05. Thanks!

[2022-04-07 06:45] erikyao commented on #40
Hi @colleenXu, could you please double check the mapping from DGIdb interaction types to Biolink predicates?

Within the DGIdb Feb 2022 [interactions.tsv](https://www.dgidb.org/data/monthly_tsvs/2022-Feb/interactions.tsv), the `interaction_types` column has values like `inhibitor`, `blocker`, etc. My understanding is that, e.g. with `blocker`, we can find in [biolink-model.yaml](https://github.com

[2022-04-07 19:23] colleenXu commented on #40
@erikyao @andrewsu My understanding is that we don't need to map from DGIdb interaction types to Biolink predicates in the API....this can be handled in the x-bte annotation.

In the past, Kevin had included this mapping in the parser for some reason...

[2022-04-08 03:33] colleenXu commented on #26
Note that in the current DISEASES api, it looks like there are symbols / names in the ensembl field. This is incorrect, since only ensembl IDs should be in that field...

Example: search "Y_RNA" in the records returned by this query
https://pending.biothings.io/diseases/query?q=DISEASES.associatedWith.ensembl:Y_RNA

[2022-04-08 19:19] erikyao commented on #64
Version number updated!

[2022-04-08 19:19] #64 closed

[2022-04-08 23:05] erikyao commented on #40
Hi @andrewsu @colleenXu , the latest DGIdb Feb 2022 [interactions.tsv](https://www.dgidb.org/data/monthly_tsvs/2022-Feb/interactions.tsv) has a new column `interaction_group_score`, which is actually the "Interaction Score" as explained [here](https://www.dgidb.org/score).

E.g. the interaction between [BMS-387032](https://www.dgidb.org/drugs/BMS-387032) and [CDK7](https://www.dgidb.org/genes/CDK7

[2022-04-08 23:26] erikyao commented on #40
Hi @colleenXu, w.r.t.

I noticed that in the tsv file they have revised the column name from `drug_chembl_id` to `drug_concept_id`, whose values include:

1. empty values
2. wikidata IDs in the form of `wikidata:Q<num>`, such as `wikidata:Q419808` for `SAPROPTERIN`
3. ensembl IDs in the form of `chembl:CHEMBL<num>`, such as `chembl:CHEMBL942` for `BISACODYL`

I'll query MyGene with drug names for

[2022-04-10 06:02] colleenXu commented on #40
#### On the wikidata vs chembl.compound IDs
I don't quite remember what was going on, and I can't find an example in the current API. My guess is that every record in the current API has an object.CHEMBL_COMPOUND field, and I found some wikidata IDs in that field for some records...

To clarify:
* I'm not sure what you mean by "ensembl ids" here. It sounds like you're dealing with CHEMBL IDs? spec

[2022-04-10 06:06] colleenXu commented on #40
Also, my understanding has been that:
* subject.id has the prefix-id combo (CHEMBL.COMPOUND:1234) while subject.CHEMBL_COMPOUND would only have the ID (1234)
* same with object.id (NCBIGene:1234) vs object.NCBIGene (1234)

However, the BTE tool seems to be doing fine with prefixed or non-prefixed IDs for those ID-namespaces/prefixes right now...

[2022-04-11 19:11] erikyao commented on #40
Sorry it's a typo. I mean chembl ids actually. And it's MyChem.

yes, that's what I am going to do.

I can fix this issue as well.

[2022-04-11 19:15] erikyao commented on #40
@colleenXu, and since we are going to remove the mapped predicates, the `association.edge_label` field is to be removed. Originally we have set it at [parser.py#L122](https://github.com/biothings/DGIdb/blob/master/parser.py#L122)

[2022-04-11 19:22] erikyao commented on #63
Hi @r76941156, I've forked your `semmed_parser` repo into https://github.com/biothings/semmeddb. And I've renamed it to the API name.

Could you spare some time to update the API to the latest release? I can help if you have other priorities. Thank you!

[2022-04-12 05:47] erikyao commented on #40
https://biothings.ncats.io/dgidb updated

[2022-04-12 21:02] #40 closed

[2022-04-13 05:36] colleenXu commented on #40
@erikyao it looks like the field name suggestions [here](https://github.com/biothings/pending.api/issues/40#issuecomment-1094189354) weren't addressed...what were your thoughts?

[2022-04-13 05:59] colleenXu commented on #40
@erikyao also, I see many records without an association.relation_name field....it would help to give these records some kind of value. I see "n/a" and "other/unknown" interaction types in https://dgidb.org/interaction_types....so it would help to maybe keep these values, as not_applicable and other_unknown....

[2022-04-13 06:52] colleenXu commented on #40
updated x-bte annotation for dgidb. still have the issues noted above https://github.com/NCATS-Tangerine/translator-api-registry/commit/03074911b5f2321514f27704b904bf8d1352e7ee

[2022-04-13 23:28] erikyao commented on #40
Revised as suggested

[2022-04-13 23:29] erikyao commented on #40
`not_applicable` is used for empty interactions

[2022-04-13 23:41] andrewsu commented on #48
Unfortunately, we will abandon this ticket because the license agreement prevents us from doing anything useful with these data.

![image](https://user-images.githubusercontent.com/2635409/163287052-60259649-c229-4772-a75b-688b90a9ae8c.png)

[2022-04-13 23:41] #48 closed

[2022-04-15 05:11] colleenXu commented on #40
These are the interaction_types in the raw data. I've noted the ones that I commented out the x-bte annotation for, because there were only a few records for the operation...

* activator
* agonist
* allosteric_modulator
* antagonist
* antibody
* *antisense_oligonucleotide: commented out, only 4 records*
* blocker
* *inducer: commented out, only 1 record*
* inhibitor
* *inhibitory_allosteric_modul

[2022-04-15 23:09] colleenXu commented on #63
Thoughts from discussion with @erikyao today: @newgene @andrewsu

There may be a way to find and replace outdated UMLS IDs...if we can find this [table](https://www.ncbi.nlm.nih.gov/books/NBK9685/table/ch03.T.retired_cui_mapping_file_mrcui_rr/ ) in a [recent UMLS release](https://www.nlm.nih.gov/research/umls/licensedcontent/umlsknowledgesources.html). The [SEMMEDDB data files](https://lhncbc.nlm.

[2022-04-15 23:14] erikyao commented on #63
E.g. `"C1451465|1398", "CRK protein, human|CRK"`

E.g. `"C0007082|1048|1084|5670", "Carcinoembryonic Antigen|CEACAM5|CEACAM3|PSG2"`

[2022-04-15 23:29] colleenXu commented on #63
Also discussed with @erikyao (@newgene @andrewsu):

It would be useful if the parser generated a file of "combinations" for use in auto-generating x-bte annotations based on what records will exist in the API. [Right now](https://github.com/NCATS-Tangerine/translator-api-registry/blob/master/semmeddb/AutoGen_SEMMEDDB.ipynb), I analyze the semmeddb predications file separately to generate the x-bte

[2022-04-21 16:15] andrewsu opened #65 "Data source: FooDB"
From their website (https://foodb.ca/):

This resource could provide edges between foods (indexed by FooDB IDs), and chemical compounds (indexed by CAS number, InChI Key, PubChem, ChEMBL, etc.).  For example, https://foodb.ca/foods/FOOD00914 shows the link between soybean oil and beta-sitosterol.  Unfortunately, it doesn't look like the FooDB IDs are linked to external IDs that are well used withi

[2022-04-21 19:22] andrewsu opened #66 "Data source: FoodData Central"
From the website (https://fdc.nal.usda.gov/index.html):

Like FooDB (https://github.com/biothings/pending.api/issues/65), this FoodData Central resource could provide edges between foods (indexed by the FoodOn ontology), and chemical compounds (though I do not see an obvious external identifier). For example, https://fdc.nal.usda.gov/fdc-app.html#/food-details/748366/nutrients shows the link betwe

[2022-05-23 22:26] colleenXu commented on #63
related to issues here https://github.com/biothings/semmeddb/issues

[2022-05-23 22:41] colleenXu commented on #63
And also some notes about semmeddb -> x-bte operations:
* right now, one operation = 1 output semmed-semantic type. If pending hub is at biothings version>=0.10, we can use OR to query for multiple output semmed-semantic types. However, we already have times when we cut off the amount of records returned in sub-query....and that'll get worse if these sub-queries are more expansive ([internal](http

[2022-05-24 04:47] colleenXu commented on #55
Pasted from Slack, my notes after reviewing the output file from:

I think the structure is okay for writing queries with x-bte annotation.
But....

Point 0: I wonder if the relation array ever gets a LOT of elements

Point 1: Looking at the output file, some umls IDs seem to start with "DC" which seems incorrect. It looks like the "D" should be removed, so the ID starts with "C". Examples:
* D[C1

[2022-05-24 21:16] colleenXu commented on #55
From reading the preprint, it sounds like they made some pseudo-UMLS IDs from "iDISK terms" that didn't map to an existing CUI....is that right? And that some of these "iDISK terms" were drug supplement ingredients...This makes me wonder about the MRCONSO.RRF file that they mention, which sound like it may have mappings from the original "iDISK terms" to pseudo-UMLS IDs used in their KG...

Also,

[2022-06-01 05:24] newgene opened #68 "Data source: DDInter"
name: Curated Drug-Drug Interactions Database
url: http://ddinter.scbdd.com/
download: http://ddinter.scbdd.com/download/
license: CC-BY-NC-SA (http://ddinter.scbdd.com/terms/)

[2022-06-01 05:40] newgene opened #69 "Data source: RaMP"
name: RaMP (Relational database of Metabolomic Pathways)
url: https://rampdb.nih.gov/
download:
     https://rampdb.nih.gov/about
     https://figshare.com/articles/dataset/RaMP_Database_MySQL_Dump_v2_0_7_20220428/19674540
license: GPL v2

[2022-06-01 16:55] erikyao commented on #55
Hi @colleenXu , from [SemRep_DS/docs/SemRep_full_fielded_output.txt](https://github.com/zhang-informatics/SemRep_DS/blob/main/docs/SemRep_full_fielded_output.txt):

'DC' instead of just 'C' it is an iDISK CUI and is not present in the UMLS.

[2022-06-01 22:15] andrewsu commented on #55
@erikyao deployed the API based on the parser written by @mnarayan1 (https://github.com/biothings/SuppKG).  @colleenXu can you add creation of the smartAPI annotation to your to-do list please?  ("Normal" priority -- no special urgency here...)

Let's also leave this ticket open for the moment so we can contemplate enhancements to the parser (for example, to handle retired UMLS IDs, get more curre

[2022-06-01 23:11] newgene opened #70 "Data source: BindingDB"
Name: BindingDB - curated protein-chemical bindings
URL: https://www.bindingdb.org/rwd/bind/index.jsp
Download: https://www.bindingdb.org/rwd/bind/chemsearch/marvin/SDFdownload.jsp?all_download=yes
License: publicly available with no license specified

[2022-06-06 20:19] colleenXu commented on #63
Noting the semmed semantic type for nodes/categories, and mapping to biolink model: https://github.com/RTXteam/RTX-KG2/blob/1d3cb6da97a16647de5b5ccf67b1ffcb2f4c3c73/curies-to-categories.yaml#L286

[2022-06-07 00:09] mnarayan1 commented on #68
I can claim this ticket.

[2022-06-09 04:37] andrewsu commented on #68
emailed data owners to ask about providing mappings between DDinterIDs and DrugBank/ChEMBL/PubChem.

[2022-06-23 10:46] mnarayan1 commented on #68
[Here's](https://github.com/mnarayan1/DDInter/blob/main/parser.py) a parser I wrote with the data that's available so far.

[2022-06-24 04:30] andrewsu commented on #60
assigned to @rjawesome

[2022-06-24 04:30] andrewsu commented on #62
assigned to @mnarayan1

[2022-06-24 04:33] andrewsu commented on #69
From https://rampdb.nih.gov/about, I'm wondering if we already get many/most of these resources from the primary source?
![image](https://user-images.githubusercontent.com/2635409/175462703-e3bab5e0-64f1-46ae-add5-477ad3bec9c8.png)

[2022-06-24 05:06] andrewsu commented on #70
* Downloaded [BindingDB_All_2022m5.tsv.zip](https://www.bindingdb.org/rwd/bind/chemsearch/marvin/SDFdownload.jsp?download_file=/bind/downloads/BindingDB_All_2022m5.tsv.zip)
* 2407382 rows, each with a binding relationship (193 columns of metadata about the relationship)
  * 2178377 rows with a UniProt ID for the target
  * 1243406 rows with a UniProt ID for the target AND target is human protein

[2022-06-27 20:05] erikyao commented on #60
Hi @rjawesome, this could be a manifest-based plugin, and you can start with a vanilla parser module. See https://docs.biothings.io/en/latest/tutorial/studio_guide.html#manifest-based-data-plugins for more.

[2022-06-28 21:11] rjawesome commented on #60
The requested changes have been completed

[2022-06-29 15:45] andrewsu opened #71 "Data source: encyclopedia of Rare Disease Annotation for Precision Medicine (eRAM)"
I am going to create and then close this issue because I don't think we actually want to import this resource, but I want a record for the factors that went into this decision:

From their [website](http://www.unimd.org/eram/):

paper: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5753383/
downloads page: http://119.3.41.228/eram/download.php, including their [Guide for Downloading Data.pdf](http:/

[2022-06-29 15:45] #71 closed

[2022-06-29 19:44] andrewsu commented on #62
There is a filtering process for the interventions that needs to be added.  Let's take the example above for `10983-OMIM:605814` (which corresponds to [this web view](https://gtrx.rbsapp.net/?q=44&i=true)).  The `interventions` section in the JSON currently has 12 elements, which is reasonable given that there are 12 non-blank columns starting with `int_description_`.  However, the starting point

[2022-06-29 22:33] andrewsu commented on #62
After discussing with @colleenXu, we agree that we need to break this down to an "association style" API, where each record represents the association between a single disease and a single intervention.  Here is a new sample record:

[code]

A few things to note:
* removed information about the gene (the gene-disease link is readily available from other sources)
* added a `predicate` key whose val

[2022-06-29 22:36] andrewsu opened #72 "manual mapping of non-drug interventions in GTRx"
In https://github.com/biothings/pending.api/issues/62, we are loading GTRx, a database of diseases and their corresponding treatments. However, we [decided](https://github.com/biothings/pending.api/issues/62#issuecomment-1170560427) to only load drug treatments, ignoring the treatments that are surgical procedures, dietary changes, and other non-pharmaceutical interventions.  We made this choice b

[2022-06-30 00:01] colleenXu commented on #72
Ideas:
* Name Resolver service https://name-resolution-sri.renci.org/docs#/lookup/lookup_curies_lookup_post
* MESH https://meshb.nlm.nih.gov/
* NCIT. Is it https://ncim.nci.nih.gov/ncimbrowser/ConceptReport.jsp?dictionary=NCI%20Metathesaurus&type=synonym&code=C0085430 ?

[2022-06-30 01:43] rjawesome commented on #70
I am currently working on this issue

[2022-06-30 04:40] erikyao commented on #60
Deployed:

- https://biothings.ncats.io/bioplanet_pathway_gene
- https://biothings.ncats.io/bioplanet_pathway_disease

Our internal `pending.api` hub has introduced some code changes and is under testing. I cannot make these two APIs shown on the index page. (otherwise it would be 44 APIs in total but now it’s 42). However they are accessible and you can have a try.

[2022-06-30 04:42] erikyao opened #73 ""code" link standard"
From @andrewsu :

[2022-06-30 04:58] erikyao commented on #73
My 2 cents:

Pros of forking plugin repos into BioThings org:

- Easier and quicker to make changes on our side.
- May keep the repo well maintained.
- No danger of repo deletion by 3rd-party.

Cons:

- Too many repos (44 at most now), difficulty in management? (FYI we can tag those repos).
- Changes by 3rd-party developers/organizations must be introduced through Pull Requests.
- Some organizatio

[2022-06-30 17:48] andrewsu commented on #73
Great points, Yao.  Perhaps I'd modify my suggestion to say that we should do this practice only for APIs created by lab members (including interns).  For APIs hosted by third-party data owners, the code should absolutely point to their own repo.

[2022-06-30 17:49] rjawesome commented on #70
I made a basic parser for this: https://github.com/rjawesome/BindingDB_parser

I realized that some rows have more than one chemical -> protein relationship (indicated by "Number of Protein Chains in Target (>1 implies a multichain complex)") so I have split those into separate documents

At the moment I am currently filtering by checking if the primary uniprot name ends with _HUMAN. I checked one

[2022-06-30 17:55] erikyao commented on #73
Reasonable. So I'll fork the two BioPlanet plugin repos into BioThing org later today.

I remember that there are some other plugin repos under my name (forked from Kevin's previously). So I can check later and start another issue to record the migration into BioThings org.

[2022-06-30 18:32] rjawesome commented on #70
Updated Sample Document
[code]

[2022-06-30 18:51] colleenXu commented on #73
Noting that plenty of pending apis currently post to someone's repo (example [Kevin](https://pending.biothings.io/DISEASES) and [me](https://pending.biothings.io/multiomics_wellness_kp)).

I'm good with whatever decision the rest of you make. I don't know much about this topic...

[2022-06-30 21:37] andrewsu commented on #70
Just a note/caveat.  I've pasted a (transposed) snippet of the data file which shows four records that are exactly the same except for the Ki.  In this case, best to collapse these four input records into a single output record, where the Ki is an array.  We should be careful to identify any other columns that need similar treatment.  (Possibly to help that effort, we should add an `"_id"` key bas

[2022-06-30 23:38] rjawesome commented on #70
Ok, I will check for that. Just curious, what software are you using to view the file? It seems like it would be tricky to view the file given its large size.

[2022-07-01 04:56] andrewsu commented on #70
That's a screenshot in excel.  I typically use command-line tools (like awk) to extract a very small subset of the file before trying to load it...

Ok, I will check for that. Just curious, what software are you using to view the file? It seems like it would be tricky to view the file given its large size.

I think Ki, IC50, Kd, EC50, kon, and koff can all be treated the same -- put them in an arr

[2022-07-01 05:12] rjawesome commented on #70
Here are the # of entries with the same ID but differing values for each key (this was for the first 300k entries on the table)
[code]

[2022-07-01 17:11] rjawesome commented on #70
Also, this doesn't just apply to fields in the relation, fields in the subject as well can be different even with the same ID. Here is an example where the fields 'Link to Target in BindingDB', 'Link to Ligand-Target Pair in BindingDB', 'IC50 (nM)', 'Target Name Assigned by Curator or DataSource' are different.

[code]

[code]

[2022-07-01 19:12] newgene opened #74 "web ui: example queries should escape colon character in the query term"
Here is an example:

https://biothings.ncats.io/rhea/query?q=citations:PMID:18949503

from:

https://biothings.ncats.io/rhea/

the correct query should escape the `:`:

https://biothings.ncats.io/rhea/query?q=citations:PMID\:18949503

[2022-07-01 19:22] newgene opened #75 "web ui: API page should display failed queries output too"
related to #74, when an example query fails, we should still display it in the UI, including its status code.

For example this failed query from #74:

https://biothings.ncats.io/rhea/query?q=citations:PMID:18949503

from:

https://biothings.ncats.io/rhea/

[2022-07-02 07:53] colleenXu commented on #70
Just a note (Andrew and you are the decision-makers): is there a way to organize the documents by relationship? Maybe by what fields are present, or something else (values in the fields, organization of database, names of files)?

For example, if a document has "inhibition-specific" fields like IC50 and Ki, does that mean it will definitely lack the fields for EC50 (which [can](https://en.wikipedi

[2022-07-02 23:07] rjawesome commented on #70
I could probably look into other things, but I have found that some amount of documents (~2000 in the first 300000) have both Ki and EC50 so I don't believe your method would work unless we could have multiple relationships

[2022-07-05 21:16] andrewsu commented on #70
For now then, I think we should not worry about trying to characterize the relationship in more detail.  Let's just add a top-level key for `predicate` with a value of 'physically interacts with'.

Also @rjawesome, can you add a mapping table between the original column names and the corresponding key to use in the JSON?  For example, `PDB ID(s) of Target Chain` can be converted to just `pdb`, `Li

[2022-07-05 23:36] rjawesome commented on #70
All column names are located in this sample doc (https://github.com/biothings/pending.api/issues/70#issuecomment-1171509322). I will add the predicate and start on a mapping chain, but I was wondering what our decision was relating to the documents with duplicate IDs?

[2022-07-06 03:10] andrewsu commented on #70
In cases where the `_id` is duplicated, then let's combine the relation info as objects in an array.  Using the example you describe in [this comment](https://github.com/biothings/pending.api/issues/70#issuecomment-1172554769), the updated document would look something like this:

[code]

**Note** also that the `BindingDB Reactant_set_id` should be moved from the `object` section to the `relation`

[2022-07-06 04:21] rjawesome commented on #70
I can do this, but as I pointed out earlier, there are other fields that would seem to best fit in the object which are also duplicated such as Target Name Assigned by Curator or DataSource, Link to Target in BindingDB, UniProt (TrEMBL) Primary ID of Target Chain Target Source Organism According to Curator or DataSource. Should I move those to the relation?

[2022-07-06 04:38] andrewsu commented on #70
All the ones you explicitly listed in your last comment -- `Target Name Assigned by Curator or DataSource`, `Link to Target in BindingDB`, `UniProt (TrEMBL) Primary ID of Target Chain`, and `Target Source Organism According to Curator or DataSource` -- should remain in the `subject` section, and those values should be converted to arrays if they differ between records.

I also just noticed that `L

[2022-07-06 18:57] rjawesome commented on #70
Also @andrewsu you were mentioning you wanted the fields to be mapped, so if you still want that could you could send what you want each field to be mapped to (FYI, all fields located in [this document](https://github.com/biothings/pending.api/issues/70#issuecomment-1171509322))

[2022-07-07 04:15] andrewsu commented on #70
You can use the mapping table below.  Note that I also decided to collapse the "swissprot" and "trembl" sets of fields under a single `subject.uniprot` object, and then we'd add a `subject.uniprot.type` field that was either "SwissProt" or "TrEMBL", depending on what set of columns the data came from. Let me know if anything here doesn't make sense!

<details>
<summary>mapping table</summary>

ori

[2022-07-07 21:45] andrewsu commented on #70
I think you can continue using the `UniProt (SwissProt) Primary ID of Target Chain` / `subject.uniprot.accession` in `_id`...

separate documents for TrEMBL and SwissProt please...

[2022-07-08 19:48] rjawesome commented on #70
I've noticed that none of the TrEMBL documents meet my current criteria for determining if a protein is a human protein (ie. the entry name ends with _HUMAN). More specifically, none of the TrEMBL documents have their own entry names. We have a few options here:
* Eliminate TrEMBL Documents
* Include a TrEMBL Document if the SwissProt entry name contains _HUMAN
* Broaden our criteria to also inclu

[2022-07-12 04:30] andrewsu commented on #70
Hmm, looks like for TrEMBL, they populate `UniProt (TrEMBL) Primary ID of Target Chain` but not `UniProt (TrEMBL) Entry Name of Target Chain`, which (as you point out) makes the species filtering challenging.  We _could_ download a uniprot table to look up the corresponding "Entry Name".  But in practice, TrEMBL is a dataset of computationally predicted/annotated proteins, so they are of lesser im

[2022-07-12 17:17] mnarayan1 commented on #62
Updated Parser: https://github.com/mnarayan1/GTRx/blob/main/parser.py
Sample Output File: https://github.com/mnarayan1/GTRx/blob/main/gtrx_data.json

Here is a sample record:
[code]

[2022-07-12 18:01] rjawesome commented on #70
Parser has been updated. New Sample Record below...
[code]

[2022-07-12 21:37] rjawesome commented on #66
Parser: https://github.com/rjawesome/FoodData_parser/
Sample Document:
[code]

[2022-07-15 05:35] andrewsu commented on #62
This looks pretty great to me.  I think it's safe to hand over to @erikyao for API creation!

[2022-07-15 20:09] yichuanma95 commented on #65
Repo is here at https://github.com/yichuanma95/foodb_json.git

[2022-07-15 20:10] yichuanma95 commented on #65
The repo I provided contains info about the data's mapping.

[2022-07-15 20:13] yichuanma95 commented on #65
While working on the API, I have noticed inconsistencies between the downloaded data and the browsable data on the FooDB website.

-The FooDB website stated there were 70926 compounds, but the compound.json file had 70477 entries, so several hundred entries are missing in the json file.
-The website also stated 797 foods, but there were 992 foods in Food.json file

[2022-07-15 20:21] rjawesome commented on #70
Note, just fixed a glitch in my parser. Another sample record (that was affected).
[code]

[2022-07-15 21:00] andrewsu commented on #70
Looks great, nice work @rjawesome!  I think this one is also ready to pass off to @erikyao for API creation...

[2022-07-16 04:15] andrewsu commented on #66
@rjawesome can you tell me how many unique objects (nutrients / chemicals) there are in the entire data set?  As noted above and confirmed by you, it doesn't look like there are any obvious external identifiers that can be used to link nutrients in this data source to other data sources.  But when I look at the record for soybean oil https://fdc.nal.usda.gov/fdc-app.html#/food-details/748366/nutri

[2022-07-16 04:34] rjawesome commented on #66
In total there are ~200-300 nutrients, although I don't know if all of them would map to an external vocabulary. (Also right now I am only using foundation foods).

[2022-07-16 04:42] andrewsu commented on #66
Hmm, a couple hundred isn't so bad.  I suggest posting that list in a google doc (sorted by the number of foods that have data for each nutrient, if possible), and then we can spend a little time to do the manual mapping.  Automation would be useful if we had thousands, but for now, I think just searching in ChEBI, ChEMBL, and PubChem (in that order) and looking for exact string matches is probabl

[2022-07-16 19:15] rjawesome commented on #66
https://docs.google.com/spreadsheets/d/1xZNt70XhyWpVOUkrTY2-gUqAYKI-_ONY4y2CR59AZGk/edit?usp=sharing. This contains the list of nutrients and # of occurences.

[2022-07-19 23:35] andrewsu commented on #66
@rjawesome in your doc linked above, I created a new column for ChEBI.  (I also created columns for "ChEMBL" and "PubChem", but I think probably ChEBI will be sufficient.)  I think the next step is to add mappings when they can be easily found.  As mentioned above, you _could_ do the mapping by hand by searching on the [ChEBI website](https://www.ebi.ac.uk/chebi/). Or you could do a semi-automated

[2022-07-21 22:35] newgene commented on #24
@yichuanma95

The existing data plugin here: https://github.com/kevinxin90/hpo

The current live API here: https://pending.biothings.io/HPO

[2022-07-22 00:45] yichuanma95 commented on #24
When I click on the link for downloading annotations, nothing is happening.

[2022-07-22 03:14] andrewsu commented on #24
I see some weird browser-based security issue.  But you should be able to copy/paste (or wget) these URLs directly: http://purl.obolibrary.org/obo/hp/hpoa/genes_to_phenotype.txt and http://purl.obolibrary.org/obo/hp/hpoa/phenotype_to_genes.txt

[2022-07-23 02:18] erikyao commented on #62
Hi @andrewsu and @mnarayan1, could you please help determine the "release number" of the data file, `GTRx_Joined_Data2-1-2022.xlsx`? (like `02-01-2022`?) Thanks!

[2022-07-23 02:28] andrewsu commented on #62
I think you can put "2022-02-01" for the version number. Thanks!

[2022-07-23 02:37] erikyao commented on #62
@andrewsu thank you! I've forked the plugin repo to https://github.com/biothings/GTRx. Will deploy soon.

[2022-07-23 07:30] erikyao commented on #62
Hi @mnarayan1 , I got the following error when uploading the documents:

[code]

Looks like we have multiple documents with `_id = "OMIM:615550"`. Could you please take a look at the data and parser? Thanks!

[2022-07-26 17:53] mnarayan1 commented on #62
There seems to be multiple records that have repeated ids:

1. Additional interventions don't have an `INXIGHT` to be added to the `_id`, so their ids are not unique.
2. Some conditions have the same `OMIM`, but different digits in front of their `record_id`. For example, there are three different records with an OMIM of 603554 (Omenn Syndrome), but they each have a unique 4-digit number in front

[2022-07-26 19:11] andrewsu commented on #62
1. you can skip any records without inxight IDs
2. hmm, let's modify the plan for `_id` to be of the format `[record_id]-[INXIGHT]` (instead of `[OMIM]-[INXIGHT]`)

[2022-07-26 20:34] rjawesome commented on #66
@andrewsu I was doing some manual lookups on CHEBI and I was able to find about half of them (so far), but mainly I was not sure how to lookup the ones in the format of SFA/MUFA/TFA number:number, (ie. SFA 7:0). If you know how I could look those up on CHEBI or some other ID, I think I should be able to get most of them.

[2022-07-27 06:53] colleenXu commented on #60
Should be done once BTE-trapi repo changes have been deployed to all instances

Registry related commits / PRs:
* https://github.com/NCATS-Tangerine/translator-api-registry/commit/050a5e9e9bc6b3991d72d1f63ddfd2447c8aaa28
* https://github.com/NCATS-Tangerine/translator-api-registry/commit/544d004695361b90aada2d208e711310579ec02e
* https://github.com/NCATS-Tangerine/translator-api-registry/pull/91
*

[2022-07-27 20:28] ericz1803 commented on #65
Deployed to https://biothings.ncats.io/foodb.

[2022-07-27 21:15] colleenXu commented on #65
Noting that the next step is writing a SmartAPI yaml for this API. An intern can try to do this, or I'll stick it in my to-do list...

[2022-07-28 00:05] erikyao commented on #70
API published to https://biothings.ncats.io/bindingdb

[2022-07-28 00:09] erikyao commented on #70
Hi @rjawesome, I forked your repo to https://github.com/biothings/BindingDB and made some changes. The significant change is to move the content of your `mappings.json` into `parser.py`. The reason is that a data plugin is dynamically imported by `importlib` internally so the relative path `"./mappings.json"` no longer works.

[2022-07-28 05:50] colleenXu commented on #70
Noting that the next step is writing a SmartAPI yaml for this API. An intern can try to do this, or I'll stick it in my to-do list...

[2022-07-28 16:33] rjawesome commented on #70
I could work on that

[2022-07-28 18:01] newgene commented on #73
A new [biothings_data_plugins](https://github.com/biothings/biothings_data_plugins) created for long-term hosting of our data plugins. We can move a data plugin over when it's mature and no more major changes.

See this biomuta plugin example:

https://github.com/biothings/biothings_data_plugins/tree/main/b/biomuta

and how it's used in "pending.api" data hub:

https://github.com/biothings/pending

[2022-07-28 18:01] #73 closed

[2022-07-29 20:11] rjawesome commented on #70
@colleenXu do you know how I can determine which fields should be put in the bte-response-mapping (or should I put all of them)? [List of fields](https://github.com/biothings/pending.api/issues/70#issuecomment-1177044588)

[2022-07-29 21:34] erikyao opened #76 "Update `clinical_risk_kp` and change the API name to `multiomics_ehr_risk_kp `"
Requirement from: @colleenXu and [Basazin Belhu](https://app.slack.com/team/U035CMVEW3W)

[2022-07-29 22:00] erikyao commented on #76
Done with commit 84de7d0ab83bfb6837dd26da3f67db8cd6c870eb

First release after renaming:

- Source: `clinical_risk_kp` (The repo name is kept for BTE compatibility. Ask @colleenXu for details)
  - Plugin: https://github.com/Hadlock-Lab/clinical_risk_kp
  - Git: HEAD (057a5e1dd837499aaf0e20669b21dda6b05dcb34)
- Build: `multiomics_ehr_risk_kp_20220729_y5q7xaxe`
- API: https://biothings.ncats.io/mult

[2022-07-29 22:00] #76 closed

[2022-07-29 22:03] erikyao commented on #62
Hi @mnarayan1, please let me know when you fix the problem. Thanks!

[2022-07-29 22:05] mnarayan1 commented on #62
The issue should be fixed, let me know if there are still problems.

[2022-07-29 22:10] erikyao opened #77 "Data source: repoDB"
**Requirement originally discussed in:** [smartAPI - Issue#85](https://github.com/SmartAPI/smartAPI/issues/85)

**Plugin repo:** https://github.com/erikyao/repoDB

**Bug description:** Due to the reason explained in [this comment](https://github.com/SmartAPI/smartAPI/issues/85#issuecomment-723331354), the parser previously (back in 2020) relied on MyChem to query `drugbank.id => drugbank.name`. Ho

[2022-07-29 22:38] rjawesome commented on #77
This CSV [Drugbank Vocabulary](https://go.drugbank.com/releases/latest#open-data) seems to be open source and contains drugbank id to name data. It also contains names for some of the IDs you were not able to find in mychem (ie. DB12430).

[2022-07-29 22:39] erikyao commented on #77
Thank you @rjawesome for the information! That CSV would definitely help!

[2022-07-29 22:42] rjawesome commented on #77
I can also make a PR for this on the parser if you want...

[2022-07-29 22:45] erikyao commented on #77
Sure, @rjawesome, I appreciate your help!

[2022-07-29 23:31] rjawesome commented on #77
See [this pr](https://github.com/erikyao/repoDB/pull/3)

[2022-07-29 23:41] erikyao commented on #77
Thank you, @rjawesome! Yep I realized that injective relation is enough for "one-to-one"...

[2022-07-30 03:48] colleenXu commented on #76
To clarify: the github repo has to keep the name it has, because if it is renamed, the url to the SmartAPI yaml for the API is changed. This will break the registration, and it'll have to be re-registered. That'll change the URLs used to access the API through BTE, which will be a pain for the other Translator tools that use this...

[2022-07-30 04:54] colleenXu commented on #70
Just in case, I'll talk about the main fields first:
* it looks like two-ish operations (depending on how many operations are needed to cover the "object" ligand id-prefixes): Gene -> SmallMolecule and SmallMolecule -> Gene
* For Gene (aka the "subject" part of the API), the field to grab IDs from is probably `subject.uniprot.id`. The subject ID-prefix can then be looked up by searching for "unipr

[2022-07-30 05:11] colleenXu commented on #70
For the "other" fields in the response-mapping / retrieved in the fields section of the parameters, I suggest:

* from subject:
    * subject.name: this looks like it may be different from what's retrieved during BTE's ID-resolution, since it's assigned by the curator/datasource. This looks useful
    * subject.organism: need that info
* from relation:
    * relation.curation_datasource: this is a

[2022-07-30 05:45] rjawesome commented on #70
While it does have multiple idenitifiers, I think InChi/InChiKey is the most common identifier in the documents (a lot of them only have InChi), so I will probably just have an operation for that?

[2022-08-01 00:38] mnarayan1 commented on #68
I was able to scrape additional information (PubChem, ChEMBL, DrugBank ids) from http://ddinter.scbdd.com/.

Web scraper: https://github.com/mnarayan1/DDInter/blob/main/webscraper.py
Scraped drug information (used directly in the parser): https://github.com/mnarayan1/DDInter/blob/main/drug_data.json

Updated parser: https://github.com/mnarayan1/DDInter/blob/main/parser.py
Sample output file: https

[2022-08-01 18:42] colleenXu commented on #70
Huh....I count more documents with pubchem.cid than inchikey.

[pubchem_cid](https://pending.biothings.io/bindingdb/query?q=_exists_:object.pubchem_cid): 1413051
[inchikey](https://pending.biothings.io/bindingdb/query?q=_exists_:object.inchikey): 1394153

so if we had to pick 1 id-prefix for the chemical stuff, I'd like pick pubchem_cid (aka PUBCHEM.COMPOUND).

---

But it looks to me like we may

[2022-08-01 19:00] rjawesome commented on #70
Oh, I missed pubchem_cid. I can change it to that or add a separate operation with the cid. Also, I made a [PR](https://github.com/NCATS-Tangerine/translator-api-registry/pull/93) with the YAML -- right now it is using InChiKey.

[2022-08-01 19:00] andrewsu commented on #68
@mnarayan1 in https://github.com/mnarayan1/DDInter/blob/main/webscraper.py#L7, you hard code a range on DDInter identifiers.  Is it possible to generalize that so that your parser would work seamlessly when/if DDInter is updated?  Thinking of iterating until you get a 404, or perhaps basing the scaping based on DDInter values in the downloadable file?

[2022-08-01 19:01] colleenXu commented on #70
I saw that. I suggest switching to using pubchem_cid (PUBCHEM.COMPOUND)

[2022-08-01 20:29] ericz1803 commented on #17
Example documents:
[code]

Statistics for interaction_type:
[code]

[2022-08-01 20:52] colleenXu commented on #17
I think someone else (Andrew?) should take the lead on changes.

I have some thoughts but I don't know if others would agree (starting with the subject section first)

Subject:
* change subject.unique_identifier -> subject.innatedb. Then remove "innatedb:" prefix from the value.
* change subject.alt_identifier -> subject.ensembl. Then remove "ensembl:" prefix from the value
* break down the "alias

[2022-08-01 21:07] colleenXu commented on #17
Relation

* change relation.interaction_detection_method / relation.interaction_type to separate the "id" from the prefix and label (aka human readable thing) (similar to the "other properties" above)
[code]
* relation.pmid: remove the "pubmed:" prefix from the value.
* handle source database stuff differently (1 object):
[code]
* break down the "alias" value (currently a string) and turn it into

[2022-08-02 18:53] rjawesome commented on #66
I got around 70% of the IDs, and added the chebi IDs to the parser under object.chebiId

[2022-08-02 19:53] mnarayan1 commented on #68
I've updated the scraper to iterate until a page doesn't exist. Let me know if there's anything else I should fix.

[2022-08-02 20:05] erikyao commented on #62
API published: https://biothings.ncats.io/gtrx

About the plugin:
- Original Repo: https://github.com/mnarayan1/GTRx/blob/main/parser.py
- Forked Repo: https://github.com/biothings/GTRx/tree/main

[2022-08-02 20:24] colleenXu commented on #62
Next step is writing a SmartAPI yaml for this API with x-bte annotation...

[2022-08-02 21:20] andrewsu commented on #68
Have you confirmed that all of the IDs run continuously with no interruption?  For example, is there ever the case where DDInter1234 was retired or for some reason doesn't exist?

[2022-08-02 22:11] marcodarko commented on #74
Will be addressed in https://github.com/biothings/pending.api/pull/78

[2022-08-02 22:12] marcodarko commented on #75
Will be addressed in https://github.com/biothings/pending.api/pull/78

[2022-08-02 23:31] ericz1803 commented on #17
I made the changes. The only difference is I slightly modified the `alias` field to look like:
[code]

[2022-08-03 16:20] mnarayan1 commented on #68
So far, all of the IDs exist and run continuously.

[2022-08-03 18:49] andrewsu commented on #68
great, I think this data plugin is ready for @erikyao to deploy.  In parallel, you can also start working on writing the SmartAPI / OpenAPI annotation, as described in https://github.com/biothings/BioThings_Explorer_TRAPI/blob/main/docs/README-writing-x-bte.md.  That guide is a work in progress, so suggestions on improvements are welcome and questions can go to Colleen and/or Rohan.

[2022-08-03 18:57] rjawesome commented on #66
@andrewsu is there anything else to finish for this parser? New sample doc below
[code]

[2022-08-03 19:01] andrewsu commented on #66
Looks good to me!  I think we can hand the data plugin off to @erikyao to deploy, and in parallel, you can get started on the SmartAPI annotation...

[2022-08-03 19:08] rjawesome commented on #66
Ok, also just noting that records without chebi ids are excluded

[2022-08-03 19:24] rjawesome commented on #66
Also just realized that the documents are missing foodon IDs, and they seem to not be on the json and only on their website, so I'm not sure where they are getting them from?

[2022-08-03 19:50] andrewsu commented on #66
The options as I see them:

1. load as-is without FoodOn IDs
2. find contact info and ask them to add that mapping
3. web scrape that info from the website

I think you can go ahead with option 1, and look at the feasibility of 2 and 3 in parallel...

[2022-08-03 20:02] rjawesome commented on #66
After some further investigation, I found the info was in their CSV but not JSON, so I can probably get the foodon data from their food attributes CSV which maps fdc id --> foodon link (which can be parsed to get food on id). Apparently, it seems the foodAttributes are just an empty array in the json so they must have some problem there.

[2022-08-03 21:01] rjawesome commented on #66
Alright, I have edited the parser to add foodOn ids. new sample doc:
[code]
Note that the documents decreased slightly from ~7000 to ~6000 (after filtering only for records which have foodon)

[2022-08-04 02:10] yichuanma95 commented on #24
I forked the original data plugin for the HPO API and modified it so that each phenotype has a list of annotations. Here's an example:
[code]

[2022-08-04 02:11] yichuanma95 commented on #24
My repo is here: https://github.com/yichuanma95/hpo

[2022-08-04 19:08] colleenXu commented on #66
Noting that I'm not sure what the FoodOn ID format is (should it just be numeric? or does it have to have the "FOODON_" part?)

[2022-08-08 21:15] andrewsu commented on #66
For the moment, let's just leave the foodOn data as proposed above `"foodOnId": "FOODON_03302578"`.  FoodOn is not an identifier that is currently used for data integration across resources in BTE, so for now it's simplest if we just use the format used in the data source.  Later, when/if FoodOn becomes more widely used in the BTE KG, we can discuss the identifier formatting in more detail....

[2022-08-08 22:08] rjawesome commented on #66
Alright, I think that this is ready for deployment then

[2022-08-09 21:48] ericz1803 commented on #17
Deployed.

[2022-08-09 22:47] erikyao commented on #68
Hi @andrewsu, I am testing the parser and I think the field names `"ddinterid_a"` and `"ddinterid_b"` could be better named `"ddinterid"`, or more simply `"ddinter"`. What do you think? Thanks!

[2022-08-09 23:41] andrewsu commented on #68
Great point and good catch. Yes, let's go with `ddinter`. Thanks!

[2022-08-10 03:18] erikyao commented on #68
Hi @mnarayan1, I found multiple documents with `{'_id': 'DDInter424_DDInter7_Major'}`. Please let me know when you fix the issue. Thanks!

P.S. I have forked your repo to https://github.com/biothings/DDInter and made some changes. Please let me know if you want to work directly on that fork (I can make a PR on your request).

[2022-08-10 16:02] ericz1803 commented on #17
API link: https://biothings.ncats.io/innatedb

[2022-08-10 20:49] mnarayan1 commented on #68
@erikyao I updated my parser, so hopefully the problem should be fixed. Could you make a pull request so I can update my repo with the changes you made? Thanks!

[2022-08-10 21:26] erikyao commented on #68
@mnarayan1 Please find the PR at https://github.com/mnarayan1/DDInter/pull/1. Thanks!

[2022-08-11 16:47] andrewsu commented on #60
Example query:
[code]

Example output: https://arax.ncats.io/?r=1212d872-8945-439a-84aa-f1f2a5ef6089

![image](https://user-images.githubusercontent.com/2635409/184189039-058a76fd-7834-4e03-9720-3928942efa87.png)

[2022-08-11 16:47] #60 closed

[2022-08-17 02:49] colleenXu commented on #70
@rjawesome I edited the SmartAPI yaml (commit https://github.com/NCATS-Tangerine/translator-api-registry/commit/f3b4ca2709a6e20d1cfb03162fd76a33e7ec2687) before [registering](http://smart-api.info/registry?q=38e9e5169a72aee3659c9ddba956790d) it and [hooking](https://github.com/biothings/BioThings_Explorer_TRAPI/commit/4d432d4870cbb99179f24d533ff09fb185c15f8a) it up to BTE.

Notes:
* check and edit

[2022-08-17 02:53] colleenXu commented on #70
We still have to deploy changes to our instances.

Once it is deployed, we should be able to query like this:

[code]

And there'd be an edge like this in the response:
[code]

[2022-08-17 02:53] #70 closed

[2022-08-22 22:43] erikyao opened #79 "Implement setwise NGD"
# Design of Setwise NGD Implenetation

## 1. Previous Work & New Requirements

- Previous (vanilla) NGD requirements: [BioThings_Explorer_TRAPI - Issue#326](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/326)
- Previous (vanilla) NGD implementation: finalized at [pending.api - commit 2ccd0e2](https://github.com/biothings/pending.api/commit/2ccd0e2a7f68b2e8d4beff3df1610d6ca09bdce2)
-

[2022-08-23 06:55] erikyao commented on #79
Code 99% done on my fork, https://github.com/erikyao/pending.api.

Last problem to solve: to find a proper location for the UMLS narrow-relationship JSON file (from Eric Zhou) on the biothings.ncats.io server. Current specification on https://github.com/erikyao/pending.api/blob/master/config_web/semmeddb.py#L5 only works for `su06`.

[2022-08-23 22:51] erikyao commented on #79
## 6. Code Structure (TBD)

![mermaid-diagram-2022-08-23-154847](https://user-images.githubusercontent.com/4813680/186279558-db17d8a1-a53d-4636-a831-de3402d37581.png)

[2022-08-24 15:55] andrewsu commented on #17
Per https://github.com/biothings/BioThings_Explorer_TRAPI/blob/main/docs/README-contributing-new-data-source.md, the next step would be to write the SmartAPI metadata file.  @ericz1803 do you want to take a crack at that? Or have you tried and hit problems?

[2022-08-24 17:01] andrewsu commented on #79
per 2022-08-24 meeting, @erikyao will adjust the `leaf_umls` output structure

[2022-08-24 17:05] andrewsu commented on #65
Per 2022-08-24 meeting, tagging @yihangx to work on writing the SmartAPI annotation file.  See instructions linked in step 3 of https://github.com/biothings/BioThings_Explorer_TRAPI/blob/main/docs/README-contributing-new-data-source.md

[2022-08-24 17:49] erikyao commented on #79
Updated with [pending.api - PR#81](https://github.com/biothings/pending.api/pull/81)

[2022-08-25 16:43] newgene commented on #24
assign to @ericz1803 for the deployment

[2022-08-26 21:50] erikyao opened #83 "Bug: setwise NGD hits the ES threshold on boolean clause number"
## Brief

- Introduced by [Issue#79](https://github.com/biothings/pending.api/issues/79) and [PR#81](https://github.com/biothings/pending.api/pull/81)
- Test case in [bte_trapi_query_graph_handler - PR#121](https://github.com/biothings/bte_trapi_query_graph_handler/pull/121)

## Cause

`pending_web` (testing env on `su06`) logs record that:

[code]

Root cause of the glitch can be found in ES logs

[2022-08-26 22:10] erikyao commented on #83
Top 5 terms with the most children:

|Term/CUI           |Name                                  |No. of Children|
|-------------------|--------------------------------------|---------------|
|UMLS:C2628818      | unclassified Lepidoptera             | 43563         |
|UMLS:C1653016      | unclassified Cecidomyiidae           | 43333         |
|UMLS:C1624036      | unclassified Bacteria (miscellane

[2022-08-28 05:25] newgene opened #84 "phenotype API can be removed now"
https://github.com/biothings/pending.api/blob/master/config_web/phenotype.py

I believe it's replaced by https://biothings.ncats.io/hpo

[2022-08-28 23:43] #83 closed

[2022-08-29 18:05] newgene commented on #16
Close this ticket as MyGeneset.info API includes genesets from MSigDB.

[2022-08-29 18:05] #16 closed

[2022-08-29 18:22] newgene opened #86 "Create a simple mechanism for deprecating an API"
Could be something like this in the config file:
[code]

Then the API landing page shows deprecation msg and redirect to a new URL in 10s.

[2022-08-29 18:26] newgene opened #87 "Create a global /api/list endpoint to return available APIs"
See this code comment:

https://github.com/biothings/pending.api/blob/ee9508d0c81f03515675b77f46a4b0149d76e871/web/handlers/__init__.py#L45-L53

This /api/list was available from the hub. We no do not run a deployment hub on prod server, so we implemented a temp solution. But this /api/list endpoint should be useful in general.

[2022-08-29 18:32] newgene commented on #84
potentially use the deprecation mechanism in #86

[2022-08-31 06:35] erikyao opened #88 "Support "minimum_should_match" in `pfocr` API"
## Brief

Requirement discussion:

- [BioThings_Explorer_TRAPI - Issue#420](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/420)
- [bte_trapi_query_graph_handler - PR#109](https://github.com/biothings/bte_trapi_query_graph_handler/pull/109)

From @newgene:

Request structure:

[code]

## How to implement

Keys:

1. Implement a new `class PfocrQueryBuilder(ESQueryBuilder)` that subclas

[2022-08-31 18:35] andrewsu commented on #4
The GNBR project appears to be no longer active, so closing this issue.

[2022-08-31 18:35] #4 closed

[2022-08-31 18:44] andrewsu commented on #47
Note that it appears the official version number is also not unique -- the file with the July 2022 update appears to have overwritten the Feb 2022 update at https://data.lhncbc.nlm.nih.gov/umls-restricted/ii/tools/SemRep_SemMedDB_SKR/semmedVER43_2022_R_PREDICATION.csv.gz.  So for this example, I think `build_version` should be set to `semmedVER43_2022`, and the `build_date` should be the date the

[2022-08-31 22:39] colleenXu commented on #86
Other APIs to remove?

All of the semmed APIs below could maybe be removed, since they are replaced by [semmeddb](https://pending.biothings.io/semmeddb)...
* [semmed](https://pending.biothings.io/semmed)
* [semmed_anatomy](https://pending.biothings.io/semmed_anatomy)
* [semmedbp](https://pending.biothings.io/semmedbp)
* [semmedchemical](https://pending.biothings.io/semmedchemical)
* [semmedgene](h

[2022-09-01 16:50] #79 closed

[2022-09-01 21:20] erikyao commented on #88
## How ES `explain` the scoring

We can see how ES calculate the scores for each matched document using `explain`. E.g.:

[code]

The top document's `_score` is the sum of the 4 matched term/Id's scores.

![image](https://user-images.githubusercontent.com/4813680/187773738-54259838-461b-4ba8-b6a6-606b4f5162f3.png)

The second document only matched 3 terms/IDs, so its `_score` comes from 3 term/ID'

[2022-09-08 17:16] erikyao commented on #87
Boils down to implement endpoint `https://biothings.ncats.io/api/list`

See above ref implementation.

[2022-09-08 17:17] erikyao commented on #87
Also consider "deprecated" status, see https://github.com/biothings/pending.api/issues/86

[2022-09-08 17:24] erikyao commented on #86
Also consider "DEPRECATED_DATE", after which the API is not accessible (redirected to elsewhere)

[2022-09-08 20:31] erikyao opened #90 "`pending_web` error when restarting the PROD server"
Error log:

[code]

[2022-09-13 19:36] #88 closed

[2022-09-16 16:11] andrewsu opened #91 "Improve scoring in PFOCR API based on specificity"
In https://github.com/biothings/pending.api/issues/88, @erikyao implemented a very useful new parameter for `minimum_should_match`.  That allows users to submit a list of entities, and then return documents that match at least some number of the input queries.

Based on [this comment](https://github.com/biothings/pending.api/pull/89#issuecomment-1233377259) from @erikyao, scoring is currently base

[2022-09-16 21:47] andrewsu opened #92 "PFOCR API: return full document (including figureUrl) in POST query results"
When I execute this GET query https://biothings.ncats.io/pfocr/query?q=associatedWith.mentions.genes.ncbigene:211, I get a response like this:
[code]
That response appears to include all the fields in the full document -- similar to https://biothings.ncats.io/pfocr/geneset/PMC4821805__elife-12318-fig1.jpg.

However, when I POST this query to https://biothings.ncats.io/pfocr/query
[code]
I get the

[2022-09-21 04:41] colleenXu commented on #92
It looks like the fields is specified in the above query...and that would be why you're missing fields in the response. If the fields is changed to ["_id", "associatedWith"], maybe the full "record" will be returned...

[code]

[2022-09-21 04:54] andrewsu commented on #92
👍 So clear in retrospect. Yes, that works as expected!  Thanks...

[2022-09-21 04:54] #92 closed

[2022-09-21 18:31] andrewsu commented on #68
the PR above was merged and [deployed](https://biothings.ncats.io/ddinter/metadata). Next step is to write SmartAPI / x-bte annotation.

[2022-09-21 18:44] andrewsu commented on #26
updated the title to limit scope and bring us closer to closing this issue.

The relevant repo for the data plugin created by @NikkiBytes is at https://github.com/NikkiBytes/TISSUES.  The fix for at least point 1 from above (process human files only) has been [committed](https://github.com/NikkiBytes/TISSUES/commit/1391dc1673ad047fb8e71d69a9c2e2ef7428b039). I'm going to assign this to @erikyao to

[2022-09-27 20:49] erikyao opened #93 "`FrontPageHandler` will misrecognize a `config`-imported module as a plugin module, if the `config` is a single python file"
## An Example

Suppose we have plugin config file `config_web/pfocr.py`, who imports a `copy` module itself:

[code]

When we start `pending_web` with `python3 index.py --conf=config_web/pfocr.py`, `FrontPageHandler` will report:

[code]

This error won't happen if we start with the whole config folder, like `python3 index.py --conf=config_web`.

## Cause

[`FrontPageHandler`](https://github.com/b

[2022-09-28 07:45] yihangx commented on #65
@andrewsu I submitted pull request here: https://github.com/NCATS-Tangerine/translator-api-registry/pull/100. Since this is my first try, it may need some improvements. I am willing to talk to reviewer and make some changes.

[2022-10-03 23:19] colleenXu commented on #77
Don't know if this needs SmartAPI annotation...

[2022-10-03 23:28] erikyao commented on #77
Hi @colleenXu, this is bug fix to the old repoDB API. It should have been annotated before.

[2022-10-03 23:29] colleenXu commented on #77
If it does, it's likely very old. It's not incorporated into BTE at the moment.

[2022-10-05 01:23] erikyao commented on #26
API published, https://biothings.ncats.io/tissues

[2022-10-05 17:04] yihangx commented on #65
@andrewsu I tested the annotation file with local BTE instance, and I did not see a problem. You can find my yaml file here: https://github.com/yihangx/translator-api-registry/blob/master/foodb/smartapi.yaml

[2022-10-05 17:19] andrewsu commented on #65
Great, for completeness, can you post an example query and a snippet of the result showing successful incorporation? Exactly what that snippet should look like isn't precisely defined, but examples can be found in these two comments for other data sources:
* https://github.com/biothings/pending.api/issues/60#issuecomment-1212232362
* https://github.com/biothings/pending.api/issues/70#issuecomment-

[2022-10-05 18:13] andrewsu commented on #77
Let's use this as an opportunity to add a SmartAPI annotation for BTE integration.  I'm going to reopen the ticket, unassign @erikyao and @rjawesome, and add it to the "Needs SmartAPI / BTE annotation" section of our project tracker...

[2022-10-10 22:01] erikyao opened #94 "Evaluation of the `ngd` cache performance and types"
## Status Quo

Current implementation of NGD caches is in https://github.com/biothings/pending.api/blob/master/web/utils/cache.py. It's made due to that `functools.lru_cache` cannot decorate `async def` functions.

## Alternative: `cachetools`

- Github: https://github.com/tkem/cachetools
- Docs: https://cachetools.readthedocs.io/en/latest/

## Performance Comparison

Is `cachetools.LRUCache` fast

[2022-10-10 22:11] erikyao opened #95 "prioritization of `ngd` cache reading"
New Goal: Improve the performance by reading the NGD caches before the expansion of terms (or term pairs)

[2022-10-12 03:00] yihangx commented on #65
@andrewsu I had problem finding a valid graph to test. I will coordinate with Colleen to test it this week.

Yes. I temporally closed the PR. Once I finish the test, I will reopen it.

[2022-10-15 00:39] erikyao commented on #95
# Major Refactor

## 1. Previous Work

- Previous vanilla NGD requirements: [BioThings_Explorer_TRAPI - Issue#326](https://github.com/biothings/BioThings_Explorer_TRAPI/issues/326)
- Previous vanilla NGD implementation: finalized at [pending.api - commit 2ccd0e2](https://github.com/biothings/pending.api/commit/2ccd0e2a7f68b2e8d4beff3df1610d6ca09bdce2)
- Previous setwise NGD requirements: [BioThing

[2022-10-17 05:28] colleenXu opened #97 "UI issue for queries with colons and quotation marks?"
When I go to https://pending.biothings.io/biggim_drugresponse_kp, select "Write My Own Query", and put `/query?q=association.edge_label:"biolink:positively_correlated_with" AND subject.NCBIGene:"NCBIGene:988"` into the box, I get no hits.

When I look at the url generated, I notice that it has more escape characters than I would expect: `https://pending.biothings.io/biggim_drugresponse_kp/query?q=

[2022-10-17 22:13] erikyao commented on #95
The update code structure is explained in [this comment](https://github.com/biothings/pending.api/issues/79#issuecomment-1224967415)

[2022-10-17 22:14] #95 closed

[2022-10-18 21:21] erikyao commented on #97
Hi @marcodarko, could you please take a look at this issue? Please let me know if it can be fixed at the front end. Thanks!

[2022-10-18 22:19] marcodarko commented on #97
@erikyao should be resolve in latest commit, feel free to push to prod when ready. 👍